Repository defold/defold, pull requests merged in 2023-05, with the labels that each got.

#7580 Use ANTLR instead of RegExp in LuaScanner
  com.dynamo.cr/com.dynamo.cr.bob.test/src/com/dynamo/bob/pipeline/LuaBuilderTest.java
  com.dynamo.cr/com.dynamo.cr.bob.test/src/com/dynamo/bob/pipeline/LuaScannerTest.java
  com.dynamo.cr/com.dynamo.cr.bob/src/com/dynamo/bob/pipeline/LuaScanner.java
Labels: skip release notes

#7596 Make sure gradle uses right Android SDK
  share/extender/build_input.yml
Labels: skip release notes

#7625 Cubemap + WebGL float type fixes
  engine/gamesys/src/gamesys/scripts/script_resource.cpp
  engine/graphics/src/opengl/graphics_opengl.cpp
  engine/graphics/src/opengl/graphics_opengl_defines.h
  engine/graphics/src/vulkan/graphics_vulkan.cpp
Labels: bug, engine

#7633 Fixed modelc exception handling for Win32
  build_tools/sdk.py
  build_tools/waf_dynamo.py
  engine/modelc/src/java/com/dynamo/bob/pipeline/ModelImporter.java
  engine/modelc/src/jni_util.cpp
  engine/modelc/src/jni_util.h
  engine/modelc/src/modelimporter_gltf.cpp
  engine/modelc/src/modelimporter_jni.cpp
Labels: model

#7657 Fix uploading basis compressed texture array data
  engine/graphics/src/opengl/graphics_opengl.cpp
  engine/graphics/src/opengl/graphics_opengl_defines.h
Labels: bug, graphics

#7659 Spir-V pipeline improvements
  com.dynamo.cr/com.dynamo.cr.bob/src/com/dynamo/bob/pipeline/MaterialBuilder.java
  com.dynamo.cr/com.dynamo.cr.bob/src/com/dynamo/bob/pipeline/ShaderCompilerHelpers.java
  com.dynamo.cr/com.dynamo.cr.bob/src/com/dynamo/bob/pipeline/ShaderUtil.java
  engine/gamesys/src/gamesys/resources/res_material.cpp
  engine/graphics/proto/graphics/graphics_ddf.proto
  engine/graphics/src/opengl/graphics_opengl.cpp
  engine/graphics/src/vulkan/graphics_vulkan.cpp
  engine/graphics/src/vulkan/graphics_vulkan_private.h
  engine/render/src/render/material.cpp
Labels: bug, engine, vulkan

#7669 Sprite animation frame count
  engine/gamesys/src/gamesys/components/comp_sprite.cpp
  engine/gamesys/src/gamesys/scripts/script_sprite.cpp
  engine/gamesys/src/gamesys/test/sprite/frame_count/sprite_frame_count.go
  engine/gamesys/src/gamesys/test/sprite/frame_count/sprite_frame_count.script
  engine/gamesys/src/gamesys/test/sprite/frame_count/sprite_frame_count.sprite
  engine/gamesys/src/gamesys/test/test_gamesys.cpp
  engine/gamesys/src/gamesys/test/test_gamesys.h
  engine/gamesys/src/gamesys/test/wscript
Labels: feature request, engine, sprite
