Repository defold/defold, pull requests merged in 2023-09, with the labels that each got.

#7946 Made editor build tests significantly faster
  editor/.idea/.gitignore
  editor/.idea/compiler.xml
  editor/src/clj/editor/library.clj
  editor/test/integration/build_test.clj
  editor/test/resources/buildtime_conversion/game.project
  editor/test/resources/game_project_properties/game.project
Labels: task, editor

#7958 Send correct Content-Length HTTP headers in responses to engine HEAD resource requests
  editor/src/clj/editor/hot_reload.clj
Labels: bug, editor

#7866 Custom vertex format support for ParticleFX components
  com.dynamo.cr/com.dynamo.cr.bob/src/com/dynamo/bob/pipeline/ProtoBuilders.java
  editor/src/clj/editor/code/shader.clj
  editor/src/clj/editor/gl/vertex.clj
  editor/src/clj/editor/graphics.clj
  editor/src/clj/editor/particle_lib.clj
  editor/src/clj/editor/particlefx.clj
  editor/src/clj/editor/sprite.clj
  editor/src/java/com/defold/libs/ParticleLibrary.java
  editor/test/integration/particlefx_test.clj
  engine/gamesys/src/gamesys/components/comp_gui.cpp
  engine/gamesys/src/gamesys/components/comp_gui_private.h
  engine/gamesys/src/gamesys/components/comp_particlefx.cpp
  engine/graphics/src/wscript
  engine/gui/src/test/wscript
  engine/gui/wscript
  engine/particle/proto/particle/particle_ddf.proto
  engine/particle/src/particle.cpp
  engine/particle/src/particle.h
  engine/particle/src/particle_private.h
  engine/particle/src/test/test_particle.cpp
  engine/particle/src/test/wscript
  engine/particle/src/wscript
  engine/particle/wscript
  scripts/build.py
  scripts/unpack_ddf.py
Labels: feature request

#7971 Renamed dmSpinlock::Init() to Create() and also added Destroy() function
  engine/dlib/src/dlib/log.cpp
  engine/dlib/src/dlib/message.cpp
  engine/dlib/src/dlib/sys_posix.cpp
  engine/dlib/src/dmsdk/dlib/spinlocktypes_android.h
  engine/dlib/src/dmsdk/dlib/spinlocktypes_atomic.h
  engine/dlib/src/dmsdk/dlib/spinlocktypes_mach.h
  engine/dlib/src/dmsdk/dlib/spinlocktypes_pthread.h
  engine/dlib/src/test/test_spinlock.cpp
  engine/resource/src/resource_preloader.cpp
  engine/script/src/test/test_quat.lua
Labels: engine, breaking change

#7967 Added option frustum_planes to render.draw()
  engine/dlib/src/dlib/intersection.cpp
  engine/dlib/src/dmsdk/dlib/intersection.h
  engine/dlib/src/test/test_intersection.cpp
  engine/gamesys/src/gamesys/components/comp_mesh.cpp
  engine/gamesys/src/gamesys/components/comp_model.cpp
  engine/gamesys/src/gamesys/components/comp_sprite.cpp
  engine/render/src/dmsdk/render/render.h
  engine/render/src/render/font_renderer.cpp
  engine/render/src/render/render.cpp
  engine/render/src/render/render.h
  engine/render/src/render/render_command.cpp
  engine/render/src/render/render_script.cpp
  engine/render/src/test/test_render.cpp
Labels: breaking change

#7979 Fix issue when on mac window is inactive sometimes
  engine/glfw/lib/cocoa/cocoa_window.m
Labels: skip release notes

#7985 Fix for calling Unmount when removing a live update archive
  engine/liveupdate/src/liveupdate.cpp
  engine/resource/src/resource_mounts.cpp
  engine/resource/src/resource_mounts.h
Labels: engine, live update

#7887 Separate glyph data from fonts
  com.dynamo.cr/com.dynamo.cr.bob.test/src/com/dynamo/bob/pipeline/FontBuilderTest.java
  com.dynamo.cr/com.dynamo.cr.bob.test/src/com/dynamo/bob/pipeline/ParseUtil.java
  com.dynamo.cr/com.dynamo.cr.bob.test/src/com/dynamo/bob/test/util/FontTest.java
  com.dynamo.cr/com.dynamo.cr.bob/src/com/dynamo/bob/font/Fontc.java
  com.dynamo.cr/com.dynamo.cr.bob/src/com/dynamo/bob/pipeline/FontBuilder.java
  com.dynamo.cr/com.dynamo.cr.bob/src/com/dynamo/bob/pipeline/GlyphBankBuilder.java
  com.dynamo.cr/com.dynamo.cr.bob/src/com/dynamo/bob/pipeline/ProtoBuilders.java
  editor/src/clj/editor/font.clj
  editor/src/clj/editor/pipeline/fontc.clj
  editor/test/integration/build_test.clj
  engine/gamesys/src/gamesys/gamesys.cpp
  engine/gamesys/src/gamesys/resources/res_font_map.cpp
  engine/gamesys/src/gamesys/resources/res_glyph_bank.cpp
  engine/gamesys/src/gamesys/resources/res_glyph_bank.h
  engine/render/proto/render/font_ddf.proto
  engine/render/src/waf_render.py
  engine/resource/src/waf_resource.py
  scripts/build.py
  scripts/unpack_ddf.py
Labels: engine, bob

#7972 Remove embedded builtins resources from release builds
  build_tools/BuildUtility.py
  engine/engine/content/wscript
  engine/engine/src/engine.cpp
  engine/engine/src/wscript
  engine/engine/wscript
  engine/gamesys/src/gamesys/components/comp_gui.cpp
  engine/gui/src/gui.cpp
  engine/gui/src/gui.h
  engine/gui/src/gui_private.h
  engine/gui/src/gui_script.cpp
  engine/gui/src/test/test_gui.cpp
Labels: breaking change

#7991 Make sure hash for different glyph banks is the same for different fonts with options which are not affecting the bank
  com.dynamo.cr/com.dynamo.cr.bob/src/com/dynamo/bob/font/Fontc.java
  com.dynamo.cr/com.dynamo.cr.bob/src/com/dynamo/bob/pipeline/FontBuilder.java
Labels: bug, skip release notes

#8017 Output correct layer-mask for bitmap fonts
  editor/src/clj/editor/font.clj
  editor/src/clj/editor/pipeline/fontc.clj
Labels: skip release notes

#8036 [API Doc] Fix API comments
  engine/gamesys/src/gamesys/scripts/script_model.cpp
  engine/gamesys/src/gamesys/scripts/script_sound.cpp
  engine/gamesys/src/gamesys/scripts/script_sprite.cpp
Labels: skip release notes

#8037 Paged atlas support for GUI
  com.dynamo.cr/com.dynamo.cr.bob/src/com/dynamo/bob/font/Fontc.java
  com.dynamo.cr/com.dynamo.cr.bob/src/com/dynamo/bob/pipeline/AtlasBuilder.java
  com.dynamo.cr/com.dynamo.cr.bob/src/com/dynamo/bob/pipeline/AtlasUtil.java
  editor/src/clj/editor/atlas.clj
  editor/src/clj/editor/gl/shader.clj
  editor/src/clj/editor/gl/texture.clj
  editor/src/clj/editor/gui.clj
  editor/src/clj/editor/image.clj
  editor/src/clj/editor/particlefx.clj
  editor/src/clj/editor/sprite.clj
  editor/src/clj/internal/node.clj
  engine/engine/content/builtins/materials/gui_paged_atlas.fp
  engine/engine/content/builtins/materials/gui_paged_atlas.material
  engine/engine/content/builtins/materials/gui_paged_atlas.vp
  engine/gamesys/src/gamesys/components/comp_gui.cpp
  engine/gamesys/src/gamesys/components/comp_gui_private.h
  engine/gamesys/src/gamesys/test/gui/gui_multipage_atlas.atlas
  engine/gamesys/src/gamesys/test/gui/render_box_test11.go
  engine/gamesys/src/gamesys/test/gui/render_box_test11.gui
  engine/gamesys/src/gamesys/test/test_gamesys.cpp
  engine/gamesys/src/waf_gamesys.py
Labels: feature request, engine, gui

#8025 Use pixel coordinates for sprite attribute local space
  engine/gamesys/src/gamesys/components/comp_sprite.cpp
Labels: bug, engine
