Repository defold/defold, pull requests merged in 2023-03, with the labels that each got.

#7413 Improved gamepad support for the Windows platform
  build_tools/waf_dynamo.py
  engine/engine/content/builtins/input/default.gamepads
  engine/engine/src/engine.cpp
  engine/engine/wscript
  engine/gamesys/wscript
  engine/hid/src/hid.cpp
  engine/hid/src/hid.h
  engine/hid/src/hid_null.cpp
  engine/hid/src/hid_private.h
  engine/hid/src/native/hid_gamepad_driver_dinput.cpp
  engine/hid/src/native/hid_gamepad_driver_glfw.cpp
  engine/hid/src/native/hid_native.cpp
  engine/hid/src/native/hid_native_private.h
  engine/hid/src/test/test_app_hid.cpp
  engine/hid/src/test/wscript
  engine/hid/src/wscript
  engine/input/src/input.cpp
  engine/input/src/input.h
  engine/tools/src/gdc/main.cpp
  engine/tools/wscript
Labels: feature request, input

#7444 Updated sprite size property documentation
  engine/gamesys/src/gamesys/scripts/script_sprite.cpp
Labels: engine, documentation, sprite

#7430 Produce uv bounds for dynamic atlases
  engine/gamesys/src/gamesys/scripts/script_resource.cpp
Labels: bug, engine, gui

#7431 Refactor textures as resource
  engine/gamesys/src/dmsdk/gamesys/resources/res_gui.h
  engine/gamesys/src/dmsdk/gamesys/resources/res_mesh.h
  engine/gamesys/src/dmsdk/gamesys/resources/res_model.h
  engine/gamesys/src/dmsdk/gamesys/resources/res_texture.h
  engine/gamesys/src/dmsdk/gamesys/resources/res_textureset.h
  engine/gamesys/src/gamesys/components/comp_gui.cpp
  engine/gamesys/src/gamesys/components/comp_mesh.cpp
  engine/gamesys/src/gamesys/components/comp_model.cpp
  engine/gamesys/src/gamesys/components/comp_particlefx.cpp
  engine/gamesys/src/gamesys/components/comp_sprite.cpp
  engine/gamesys/src/gamesys/components/comp_tilegrid.cpp
  engine/gamesys/src/gamesys/resources/res_gui.cpp
  engine/gamesys/src/gamesys/resources/res_mesh.cpp
  engine/gamesys/src/gamesys/resources/res_model.cpp
  engine/gamesys/src/gamesys/resources/res_texture.cpp
  engine/gamesys/src/gamesys/resources/res_texture.h
  engine/gamesys/src/gamesys/resources/res_textureset.cpp
  engine/gamesys/src/gamesys/scripts/script_resource.cpp
  engine/gamesys/src/gamesys/test/test_gamesys.cpp
Labels: engine, graphics, dmsdk, breaking change

#7446 Bugfix for using basis transcoding since paged atlas feature
  com.dynamo.cr/com.dynamo.cr.bob/src/com/dynamo/bob/pipeline/CubemapBuilder.java
  com.dynamo.cr/com.dynamo.cr.bob/src/com/dynamo/bob/pipeline/TextureGenerator.java
  com.dynamo.cr/com.dynamo.cr.bob/src/com/dynamo/bob/util/TextureUtil.java
  engine/gamesys/src/gamesys/resources/res_texture.cpp
  engine/gamesys/src/gamesys/scripts/script_resource.cpp
  engine/graphics/src/graphics.h
  engine/graphics/src/transcoder/graphics_transcoder_basisu.cpp
  engine/graphics/src/transcoder/graphics_transcoder_null.cpp
  engine/graphics/src/vulkan/graphics_vulkan.cpp
Labels: bug, texture compression

#7458 Make sure that bob uses min_sdk_version = 19 for android
  com.dynamo.cr/com.dynamo.cr.bob/src/com/dynamo/bob/meta.properties
Labels: skip release notes

#7421 Implement generic handle container and convert buffer to use it
  engine/dlib/src/dlib/buffer.cpp
  engine/dlib/src/dlib/opaque_handle_container.h
  engine/dlib/src/test/test_opaque_handle_container.cpp
  engine/dlib/src/test/wscript
  engine/dlib/src/wscript
Labels: skip release notes

#7467 Dont apply extrudeborders twice when calculating geometry uvs
  com.dynamo.cr/com.dynamo.cr.bob/src/com/dynamo/bob/textureset/TextureSetGenerator.java
Labels: bug, skip release notes

#7466 Dont poll devices every frame
  engine/glfw/include/GL/glfw.h
  engine/glfw/js/library_glfw.js
  engine/glfw/lib/input.c
  engine/glfw/lib/win32/platform.h
  engine/glfw/lib/win32/win32_window.c
  engine/hid/src/native/hid_gamepad_driver_dinput.cpp
  engine/hid/src/native/hid_gamepad_driver_glfw.cpp
  engine/hid/src/native/hid_native.cpp
Labels: bug, skip release notes

#7470 Improve manual Size Mode handling in the editor
  editor/src/clj/dev.clj
  editor/src/clj/dynamo/graph.clj
  editor/src/clj/editor/gui.clj
  editor/src/clj/editor/properties.clj
  editor/src/clj/editor/sprite.clj
  editor/src/clj/internal/transaction.clj
Labels: bug, editor

#7471 Fix issue with broken `self` in debugger.
  engine/engine/content/builtins/scripts/edn.lua
  engine/gameobject/src/gameobject/gameobject_script.cpp
  engine/gui/src/gui_script.cpp
  engine/render/src/render/render_script.cpp
  engine/script/src/script.cpp
  engine/script/src/script.h
Labels: skip release notes

#7488 Fix editor freeze after editing certain properties
  editor/src/clj/editor/properties.clj
Labels: bug, editor

#7498 Use locale independent case conversion in bob
  com.dynamo.cr/com.dynamo.cr.bob/src/com/dynamo/bob/Bob.java
  com.dynamo.cr/com.dynamo.cr.bob/src/com/dynamo/bob/Platform.java
  com.dynamo.cr/com.dynamo.cr.bob/src/com/dynamo/bob/bundle/HTML5Bundler.java
  com.dynamo.cr/com.dynamo.cr.bob/src/com/dynamo/bob/font/BMFont.java
  com.dynamo.cr/com.dynamo.cr.bob/src/com/dynamo/bob/font/Fontc.java
  com.dynamo.cr/com.dynamo.cr.bob/src/com/dynamo/bob/pipeline/ProtoBuilders.java
  com.dynamo.cr/com.dynamo.cr.bob/src/com/dynamo/bob/util/BobProjectProperties.java
  com.dynamo.cr/com.dynamo.cr.bob/src/com/dynamo/bob/util/StringUtil.java
Labels: skip release notes

#7503 Exclude evaluation-context from handler ex-info
  editor/src/clj/editor/handler.clj
Labels: editor

#7504 Fixed root-level game object transforms inside referenced collections when building from the editor
  editor/src/clj/editor/camera.clj
  editor/src/clj/editor/collection.clj
  editor/src/clj/editor/collection_common.clj
  editor/src/clj/editor/collection_non_editable.clj
  editor/src/clj/editor/game_object.clj
  editor/src/clj/editor/game_object_common.clj
  editor/src/clj/editor/game_object_non_editable.clj
  editor/src/clj/editor/math.clj
  editor/src/clj/editor/pose.clj
  editor/src/clj/editor/scene.clj
  editor/test/editor/pose_test.clj
Labels: bug, editor
