Repository defold/defold, pull requests merged in 2023-02, with the labels that each got.

#7352 Editor: Use the node-specific manual-size default for gui shapes with :size-mode-auto
  editor/src/clj/editor/gui.clj
  editor/test/resources/test_project/editor1/test.gui
Labels: bug, editor, gui

#7364 Fix text layout regression
  editor/src/clj/editor/font.clj
Labels: skip release notes

#7029 Add timer.get_info() function
  engine/script/src/script_timer.cpp
  engine/script/src/test/test_script_timer.cpp
Labels: ok to test

#7386 Expose min iOS and macOS versions to build.yml
  share/extender/build_input.yml
Labels: extender, skip release notes

#7401 URL decode Bob resource path before attempting file operations
  com.dynamo.cr/com.dynamo.cr.bob/src/com/dynamo/bob/ClassLoaderResourceScanner.java
Labels: ok to test

#7391 Add license notice to Android tools
  COMPLYING_WITH_LICENSES.md
  TOOLS_LICENSES.md
  licenses/LICENSE-bundletool
  licenses/NOTICE-aapt2
  licenses/NOTICE-antlr
  licenses/NOTICE-basisuniversal
  licenses/NOTICE-bundletool
  licenses/NOTICE-cgltf
  licenses/NOTICE-datatables
  licenses/NOTICE-flame-chart-js
  licenses/NOTICE-iconexe
  licenses/NOTICE-jctest
  licenses/NOTICE-libogg
  licenses/NOTICE-lua
  licenses/NOTICE-luacjson
  licenses/NOTICE-luajit
  licenses/NOTICE-luasocket
  licenses/NOTICE-lz4
  licenses/NOTICE-mbedtls
  licenses/NOTICE-microsoft_craziness
  licenses/NOTICE-oggz
  licenses/NOTICE-openal
  licenses/NOTICE-remotery
  licenses/NOTICE-tremolo
  licenses/NOTICE-vecmath
  licenses/NOTICE-vpx-vp8
  licenses/NOTICE-xhr2
  licenses/NOTICE-xxtea
Labels: skip release notes

#7402 Set global logger level based on verbose option
  com.dynamo.cr/com.dynamo.cr.bob/src/com/dynamo/bob/Bob.java
Labels: skip release notes

#7429 Removed duplicate Size property on Gui Text objects
  editor/src/clj/editor/gui.clj
Labels: bug, editor, gui
