Repository defold/defold, pull requests merged in 2023-04, with the labels that each got.

#7546 Updated cacert.pem
  engine/engine/content/builtins/ca-certificates/cacert.pem
Labels: network, skip release notes

#7516 Speedup running of the build with debugger (run using F5)
  engine/engine/content/builtins/scripts/debugger.lua
  engine/script/src/script_sys.cpp
Labels: debugger

#7541 Update BasisU 1.16.4
  engine/dlib/src/basis/encoder/apg_bmp.c
  engine/dlib/src/basis/encoder/apg_bmp.h
  engine/dlib/src/basis/encoder/basisu_astc_decomp.cpp
  engine/dlib/src/basis/encoder/basisu_astc_decomp.h
  engine/dlib/src/basis/encoder/basisu_backend.cpp
  engine/dlib/src/basis/encoder/basisu_backend.h
  engine/dlib/src/basis/encoder/basisu_bc7enc.cpp
  engine/dlib/src/basis/encoder/basisu_bc7enc.h
  engine/dlib/src/basis/encoder/basisu_comp.cpp
  engine/dlib/src/basis/encoder/basisu_comp.h
  engine/dlib/src/basis/encoder/basisu_enc.cpp
  engine/dlib/src/basis/encoder/basisu_enc.h
  engine/dlib/src/basis/encoder/basisu_etc.cpp
  engine/dlib/src/basis/encoder/basisu_etc.h
  engine/dlib/src/basis/encoder/basisu_frontend.cpp
  engine/dlib/src/basis/encoder/basisu_frontend.h
  engine/dlib/src/basis/encoder/basisu_global_selector_palette_helpers.cpp
  engine/dlib/src/basis/encoder/basisu_global_selector_palette_helpers.h
  engine/dlib/src/basis/encoder/basisu_gpu_texture.cpp
  engine/dlib/src/basis/encoder/basisu_kernels_declares.h
  engine/dlib/src/basis/encoder/basisu_kernels_imp.h
  engine/dlib/src/basis/encoder/basisu_kernels_sse.cpp
  engine/dlib/src/basis/encoder/basisu_miniz.h
  engine/dlib/src/basis/encoder/basisu_ocl_kernels.h
  engine/dlib/src/basis/encoder/basisu_opencl.cpp
  engine/dlib/src/basis/encoder/basisu_opencl.h
  engine/dlib/src/basis/encoder/basisu_resampler.cpp
  engine/dlib/src/basis/encoder/basisu_uastc_enc.cpp
  engine/dlib/src/basis/encoder/cppspmd_sse.h
  engine/dlib/src/basis/encoder/jpgd.cpp
  engine/dlib/src/basis/encoder/lodepng.cpp
  engine/dlib/src/basis/encoder/lodepng.h
  engine/dlib/src/basis/encoder/pvpngreader.cpp
  engine/dlib/src/basis/encoder/pvpngreader.h
  engine/dlib/src/basis/transcoder/basisu.h
  engine/dlib/src/basis/transcoder/basisu_containers.h
  engine/dlib/src/basis/transcoder/basisu_containers_impl.h
  engine/dlib/src/basis/transcoder/basisu_global_selector_cb.h
  engine/dlib/src/basis/transcoder/basisu_global_selector_palette.h
  engine/dlib/src/basis/transcoder/basisu_transcoder.cpp
  engine/dlib/src/basis/transcoder/basisu_transcoder.h
  engine/dlib/src/basis/transcoder/basisu_transcoder_internal.h
  engine/dlib/src/basis/transcoder/basisu_transcoder_uastc.h
  engine/graphics/src/transcoder/graphics_transcoder_basisu.cpp
  engine/texc/src/texc_enc_basis.cpp
Labels: texture compression

#7548 Support 'oneof' blocks in our DDF layer
  engine/ddf/src/ddf/ddf.h
  engine/ddf/src/ddf/ddf_load.cpp
  engine/ddf/src/ddf/ddf_save.cpp
  engine/ddf/src/ddfc.py
  engine/ddf/src/test/test_ddf.cpp
  engine/ddf/src/test/test_ddf_proto.proto
Labels: skip release notes

#7553 Strip brackets from array uniform names during editor shader reflection
  editor/src/clj/editor/gl/shader.clj
Labels: bug, editor

#7465 Bugfix for using multiple rendertargets in WebGL2
  engine/graphics/src/opengl/graphics_opengl.cpp
  engine/graphics/src/opengl/graphics_opengl_private.h
  engine/render/src/render/render_script.cpp
Labels: bug, engine, graphics

#7562 Clickable Lua preprocessor build errors
  editor/src/clj/editor/code/resource.clj
  editor/src/clj/editor/code/script.clj
Labels: editor

#7565 CI: Disable pull_request_target trigger and remove 'skip-ci' commit message check
  .github/workflows/editor-only.yml
  .github/workflows/main-ci.yml
Labels: ci

#7559 Refactor textures as handles
  engine/dlib/src/test/test_opaque_handle_container.cpp
  engine/gamesys/src/gamesys/components/comp_gui.cpp
  engine/gamesys/src/gamesys/components/comp_mesh.cpp
  engine/gamesys/src/gamesys/components/comp_particlefx.cpp
  engine/graphics/src/dmsdk/graphics/graphics.h
  engine/graphics/src/graphics.cpp
  engine/graphics/src/graphics.h
  engine/graphics/src/graphics_adapter.h
  engine/graphics/src/graphics_private.h
  engine/graphics/src/null/graphics_null.cpp
  engine/graphics/src/null/graphics_null_private.h
  engine/graphics/src/opengl/graphics_opengl.cpp
  engine/graphics/src/opengl/graphics_opengl_private.h
  engine/graphics/src/test/test_graphics.cpp
  engine/graphics/src/vulkan/graphics_native.cpp
  engine/graphics/src/vulkan/graphics_vulkan.cpp
  engine/graphics/src/vulkan/graphics_vulkan_device.cpp
  engine/graphics/src/vulkan/graphics_vulkan_private.h
  engine/hid/src/native/hid_native.cpp
  engine/profiler/src/profiler.h
  engine/render/src/render/render_script.cpp
Labels: feature request, engine, graphics

#7576 Camera frustum preview
  editor/resources/meshes/camera-preview-edge-list.json
  editor/scripts/camera-preview/generate_preview_data.py
  editor/scripts/camera-preview/generate_preview_data_blender.py
  editor/scripts/camera-preview/preview_camera_scene.blend
  editor/src/clj/editor/camera.clj
  editor/src/clj/editor/camera_editor.clj
  editor/src/clj/editor/math.clj
  editor/src/clj/editor/scene_visibility.clj
Labels: editor, camera

#7534 Add IShaderCompiler api to bob for custom compilation of shaders
  com.dynamo.cr/com.dynamo.cr.bob.test/src/com/dynamo/bob/pipeline/ShaderProgramBuilderTest.java
  com.dynamo.cr/com.dynamo.cr.bob/.gitignore
  com.dynamo.cr/com.dynamo.cr.bob/build.xml
  com.dynamo.cr/com.dynamo.cr.bob/src/com/dynamo/bob/Project.java
  com.dynamo.cr/com.dynamo.cr.bob/src/com/dynamo/bob/pipeline/FragmentProgramBuilder.java
  com.dynamo.cr/com.dynamo.cr.bob/src/com/dynamo/bob/pipeline/IShaderCompiler.java
  com.dynamo.cr/com.dynamo.cr.bob/src/com/dynamo/bob/pipeline/MaterialBuilder.java
  com.dynamo.cr/com.dynamo.cr.bob/src/com/dynamo/bob/pipeline/ShaderCompilerHelpers.java
  com.dynamo.cr/com.dynamo.cr.bob/src/com/dynamo/bob/pipeline/ShaderCompilers.java
  com.dynamo.cr/com.dynamo.cr.bob/src/com/dynamo/bob/pipeline/ShaderProgramBuilder.java
  com.dynamo.cr/com.dynamo.cr.bob/src/com/dynamo/bob/pipeline/VertexProgramBuilder.java
  packages/spirv-tools-d24a39a7-arm64-macos.tar.gz
  packages/spirv-tools-d24a39a7-x86_64-linux.tar.gz
  packages/spirv-tools-d24a39a7-x86_64-macos.tar.gz
  packages/spirv-tools-d24a39a7-x86_64-win32.tar.gz
  scripts/build.py
  share/ext/spirv-tools/build_spirv-tools.sh
Labels: skip release notes

#7588 Make sure editor uses right maxThreads value
  com.dynamo.cr/com.dynamo.cr.bob/src/com/dynamo/bob/Project.java
  com.dynamo.cr/com.dynamo.cr.bob/src/com/dynamo/bob/pipeline/TextureGenerator.java
Labels: skip release notes

#7590 Vulkan improvements
  engine/graphics/src/vulkan/graphics_vulkan.cpp
  engine/graphics/src/vulkan/graphics_vulkan_device.cpp
  engine/graphics/src/vulkan/graphics_vulkan_private.h
Labels: skip release notes

#7583 Support texture handles in render.enable_texture
  engine/graphics/src/graphics.cpp
  engine/graphics/src/graphics.h
  engine/graphics/src/graphics_private.h
  engine/graphics/src/null/graphics_null.cpp
  engine/graphics/src/opengl/graphics_opengl.cpp
  engine/render/src/render/render_command.cpp
  engine/render/src/render/render_command.h
  engine/render/src/render/render_script.cpp
  engine/render/src/test/test_render_script.cpp
Labels: feature request, engine, render

#7607 Cubemap faces are flipped when bundling
  editor/src/clj/editor/pipeline/tex_gen.clj
  engine/graphics/src/opengl/graphics_opengl.cpp
Labels: bug, graphics

#7238 Set texture float support
  editor/src/clj/editor/protobuf_forms.clj
  engine/gamesys/src/gamesys/resources/res_texture.cpp
  engine/gamesys/src/gamesys/scripts/script_resource.cpp
  engine/gamesys/src/gamesys/test/test_gamesys.cpp
  engine/graphics/proto/graphics/graphics_ddf.proto
  engine/graphics/src/graphics.cpp
  engine/graphics/src/graphics.h
  engine/graphics/src/vulkan/graphics_vulkan.cpp
Labels: feature request, engine

#7616 Use `emptyStringIsFalse(true)` for mustache compiler
  com.dynamo.cr/com.dynamo.cr.bob/src/com/dynamo/bob/bundle/BundleHelper.java
Labels: skip release notes
