Repository defold/defold, pull requests merged in 2024-12, with the labels that each got.

#9869 Add HLSL as shader language for crosscompiling shaders
  com.dynamo.cr/com.dynamo.cr.bob/src/com/dynamo/bob/pipeline/shader/ShaderCompilePipeline.java
  com.dynamo.cr/com.dynamo.cr.bob/src/com/dynamo/bob/pipeline/shader/ShaderCompilePipelineLegacy.java
  engine/graphics/proto/graphics/graphics_ddf.proto
  engine/shaderc/src/shaderc.cpp
Labels: skip release notes

#9870 Use correct display scale for windows
  engine/platform/src/platform_window_glfw3.cpp
  engine/platform/src/platform_window_glfw3_private.h
Labels: task, engine, glfw

#9878 Check if options exist before compressing textures with basisu
  com.dynamo.cr/com.dynamo.cr.bob/src/com/defold/extension/pipeline/texture/TextureCompressorBasisU.java
Labels: skip release notes

#9873 Don't generate content more than once
  engine/gamesys/src/gamesys/test/wscript
  engine/gamesys/src/gamesys/wscript
Labels: skip release notes

#9881 Make miniz functions private
  engine/dlib/src/test/test_zip.cpp
  engine/dlib/src/zip/README.md
  engine/dlib/src/zip/miniz.h
  engine/dlib/src/zip/zip.cpp
Labels: skip release notes

#9833 Race condition, webgpu isn't fully initialized until the device has b…
  engine/graphics/src/webgpu/graphics_webgpu.cpp
Labels: skip release notes, webgpu

#9891 Fix unitialized GraphicsContext in mesh component
  engine/gamesys/src/gamesys/components/comp_mesh.cpp
Labels: skip release notes

#9884 Rewrote Gui layout editing to work efficiently with templates
  editor/.idea/codeStyles/Project.xml
  editor/project.clj
  editor/src/clj/dynamo/graph.clj
  editor/src/clj/editor/gui.clj
  editor/src/clj/editor/pose.clj
  editor/src/clj/editor/properties.clj
  editor/src/clj/editor/properties_view.clj
  editor/src/clj/editor/protobuf.clj
  editor/src/clj/editor/scene.clj
  editor/src/clj/editor/ui.clj
  editor/src/clj/internal/graph.clj
  editor/src/clj/internal/node.clj
  editor/src/clj/internal/transaction.clj
  editor/src/clj/internal/util.clj
  editor/src/clj/util/coll.clj
  editor/src/dev/dev.clj
  editor/test/integration/gui_test.clj
  editor/test/integration/save_data_test.clj
  editor/test/integration/test_util.clj
  editor/test/internal/defnode_test.clj
  editor/test/internal/graph/graph_test.clj
  editor/test/resources/gui_project/assets/button.atlas
  editor/test/resources/gui_project/assets/panel.atlas
  editor/test/resources/gui_project/assets/spray.particlefx
  editor/test/resources/gui_project/assets/vera_mo_bd.font
  editor/test/resources/gui_project/assets/window.atlas
  editor/test/resources/gui_project/game.project
  editor/test/resources/gui_project/gui/resources/button.gui
  editor/test/resources/gui_project/gui/resources/panel.gui
  editor/test/resources/gui_project/gui/template/button.gui
  editor/test/resources/gui_project/gui/template/panel.gui
  editor/test/resources/gui_project/gui/template/window.gui
  editor/test/resources/gui_project/gui/template_layout/button.gui
  editor/test/resources/gui_project/gui/template_layout/button_l.gui
  editor/test/resources/gui_project/gui/template_layout/button_lp.gui
  editor/test/resources/gui_project/gui/template_layout/panel_button.gui
  editor/test/resources/gui_project/gui/template_layout/panel_button_l.gui
  editor/test/resources/gui_project/gui/template_layout/panel_button_lp.gui
  editor/test/resources/gui_project/gui/template_layout/panel_l_button.gui
  editor/test/resources/gui_project/gui/template_layout/panel_l_button_l.gui
  editor/test/resources/gui_project/gui/template_layout/panel_l_button_lp.gui
  editor/test/resources/gui_project/gui/template_layout/panel_lp_button.gui
  editor/test/resources/gui_project/gui/template_layout/panel_lp_button_l.gui
  editor/test/resources/gui_project/gui/template_layout/panel_lp_button_lp.gui
  editor/test/resources/gui_project/main/main.collection
  editor/test/resources/save_data_project/checked.atlas
  editor/test/resources/save_data_project/checked01.gui
  editor/test/resources/save_data_project/checked02.gui
  editor/test/resources/save_data_project/checked03.gui
  editor/test/util/coll_test.clj
Labels: bug, task, editor, gui

#9901 Set RGBA8 as input to basis compressor
  com.dynamo.cr/com.dynamo.cr.bob/src/com/dynamo/bob/pipeline/TextureGenerator.java
Labels: skip release notes

#9895 Add Rive template to welcome.edn
  editor/resources/welcome/images/rive.svg
  editor/resources/welcome/welcome.edn
Labels: task, editor

#9902 Use texture compressors for texture profiles
  com.dynamo.cr/com.dynamo.cr.bob.test/src/com/dynamo/bob/pipeline/TestTextureProfileCompressor.java
  com.dynamo.cr/com.dynamo.cr.bob.test/src/com/dynamo/bob/pipeline/TextureGeneratorTest.java
  com.dynamo.cr/com.dynamo.cr.bob/src/com/defold/extension/pipeline/texture/TextureCompressorBasisU.java
  com.dynamo.cr/com.dynamo.cr.bob/src/com/defold/extension/pipeline/texture/TextureCompressorDefault.java
  com.dynamo.cr/com.dynamo.cr.bob/src/com/dynamo/bob/pipeline/TextureGenerator.java
  editor/test/resources/save_data_project/checked.texture_profiles
  engine/graphics/proto/graphics/graphics_ddf.proto
Labels: bob, texture compression

#9892 Install texture compression presets from json files in the project
  com.dynamo.cr/com.dynamo.cr.bob.test/build.gradle
  com.dynamo.cr/com.dynamo.cr.bob.test/src/com/dynamo/bob/pipeline/AbstractProtoBuilderTest.java
  com.dynamo.cr/com.dynamo.cr.bob.test/src/com/dynamo/bob/pipeline/LuaBuilderTest.java
  com.dynamo.cr/com.dynamo.cr.bob.test/src/com/dynamo/bob/pipeline/ShaderProgramBuilderTest.java
  com.dynamo.cr/com.dynamo.cr.bob.test/src/com/dynamo/bob/pipeline/TestTextureCompressor.java
  com.dynamo.cr/com.dynamo.cr.bob.test/src/com/dynamo/bob/pipeline/TestTextureProfileCompressor.java
  com.dynamo.cr/com.dynamo.cr.bob.test/src/com/dynamo/bob/pipeline/TextureCompressorTest.java
  com.dynamo.cr/com.dynamo.cr.bob.test/src/com/dynamo/bob/pipeline/TextureGeneratorTest.java
  com.dynamo.cr/com.dynamo.cr.bob.test/test/test.texc_json
  com.dynamo.cr/com.dynamo.cr.bob.test/test/test_default.texc_json
  com.dynamo.cr/com.dynamo.cr.bob/src/com/dynamo/bob/Project.java
  com.dynamo.cr/com.dynamo.cr.bob/src/com/dynamo/bob/pipeline/TextureGenerator.java
Labels: feature request, bob, texture compression, pipeline

#9883 Add ASTC texture compressor
  com.dynamo.cr/com.dynamo.cr.bob.test/src/com/dynamo/bob/pipeline/TextureGeneratorTest.java
  com.dynamo.cr/com.dynamo.cr.bob/src/com/defold/extension/pipeline/texture/TextureCompressorASTC.java
  com.dynamo.cr/com.dynamo.cr.bob/src/com/dynamo/bob/pipeline/AtlasBuilder.java
  com.dynamo.cr/com.dynamo.cr.bob/src/com/dynamo/bob/pipeline/TextureGenerator.java
  editor/src/clj/editor/protobuf_forms.clj
  engine/gamesys/src/gamesys/resources/res_texture.cpp
  engine/graphics/proto/graphics/graphics_ddf.proto
  engine/graphics/src/dmsdk/graphics/graphics.h
  engine/graphics/src/graphics.cpp
  engine/graphics/src/graphics_private.h
  engine/graphics/src/opengl/graphics_opengl.cpp
  engine/graphics/src/opengl/graphics_opengl_defines.h
  engine/graphics/src/opengl/graphics_opengl_private.h
  engine/graphics/src/test/test_graphics.cpp
  engine/graphics/src/vulkan/graphics_vulkan.cpp
  engine/graphics/src/vulkan/graphics_vulkan_private.h
  engine/texc/src/java/com/dynamo/bob/pipeline/Texc.java
  engine/texc/src/java/com/dynamo/bob/pipeline/TexcLibraryJni.java
  engine/texc/src/jni/Texc_jni.cpp
  engine/texc/src/jni/Texc_jni.h
  engine/texc/src/test/data/a_small.png
  engine/texc/src/test/test_texc.cpp
  engine/texc/src/test/wscript
  engine/texc/src/texc.h
  engine/texc/src/texc_enc_astc.cpp
  engine/texc/src/texclibrary_jni.cpp
  engine/texc/src/wscript
  engine/texc/wscript
  packages/astcenc-8b0aa01-arm64-macos.tar.gz
  packages/astcenc-8b0aa01-x86_64-linux.tar.gz
  packages/astcenc-8b0aa01-x86_64-macos.tar.gz
  packages/astcenc-8b0aa01-x86_64-win32.tar.gz
  scripts/build.py
  share/ext/astcenc/build_astcenc.sh
Labels: feature request, engine, bob, texture compression, pipeline

#9912 WebGPU support for ASTC
  engine/graphics/src/webgpu/graphics_webgpu.cpp
Labels: skip release notes

#9909 Cleanup unused functions from the DMSDK vulkan API
  engine/graphics/src/dmsdk/graphics/graphics_vulkan.h
  engine/graphics/src/test/test_app_graphics.cpp
  engine/graphics/src/vulkan/graphics_vulkan.cpp
Labels: graphics, vulkan, dmsdk

#9926 Editor: Correctly unpack unsigned short indices for models
  editor/src/clj/editor/model_scene.clj
Labels: bug, editor, model, gltf

#9931 Align astc to block sizes
  com.dynamo.cr/com.dynamo.cr.bob/src/com/defold/extension/pipeline/texture/ITextureCompressor.java
  com.dynamo.cr/com.dynamo.cr.bob/src/com/defold/extension/pipeline/texture/TextureCompressorASTC.java
  com.dynamo.cr/com.dynamo.cr.bob/src/com/dynamo/bob/pipeline/TextureGenerator.java
  engine/gamesys/src/gamesys/gamesys_resource.cpp
  engine/gamesys/src/gamesys/resources/res_texture.cpp
  engine/graphics/proto/graphics/graphics_ddf.proto
  engine/graphics/src/webgpu/graphics_webgpu.cpp
  engine/texc/src/texc_enc_astc.cpp
Labels: skip release notes

#9921 Moved sound component to separate extension
  engine/engine/src/engine.cpp
  engine/engine/src/engine_private.h
  engine/engine/src/test/wscript
  engine/engine/src/wscript
  engine/gamesys/src/gamesys/components/comp_sound.cpp
  engine/gamesys/src/gamesys/components/comp_sound.h
  engine/gamesys/src/gamesys/gamesys.cpp
  engine/gamesys/src/gamesys/gamesys.h
  engine/gamesys/src/gamesys/test/test_gamesys.cpp
  engine/gamesys/src/gamesys/test/test_gamesys.h
  engine/gamesys/src/gamesys/test/wscript
Labels: engine, sound

#9940 Added fix for settings files with a relative path
  com.dynamo.cr/com.dynamo.cr.bob.test/abssettings/absolute.ini
  com.dynamo.cr/com.dynamo.cr.bob.test/src/com/dynamo/bob/pipeline/JarTest.java
  com.dynamo.cr/com.dynamo.cr.bob.test/test/proj/settings/settings.ini
  com.dynamo.cr/com.dynamo.cr.bob/src/com/dynamo/bob/Project.java
  com.dynamo.cr/com.dynamo.cr.bob/src/com/dynamo/bob/TaskBuilder.java
Labels: bob, skip release notes

#9948 Fix typo in swift compilation arguments.
  share/extender/build_input.yml
Labels: skip release notes

#9939 GLFW3 support for linux
  build_tools/waf_dynamo.py
  ci/ci.py
  engine/graphics/src/graphics_glfw_wrappers.cpp
  engine/graphics/src/vulkan/linux/graphics_vulkan_linux_surface.cpp
  engine/graphics/src/wscript
  engine/hid/src/hid.h
  engine/platform/src/platform_window.h
  engine/platform/src/platform_window_glfw.cpp
  engine/platform/src/platform_window_glfw3.cpp
  engine/platform/src/platform_window_glfw3_linux.cpp
  engine/platform/src/platform_window_glfw3_osx.cpp
  engine/platform/src/platform_window_glfw3_private.h
  engine/platform/src/platform_window_glfw3_win32.cpp
  engine/platform/src/platform_window_linux.h
  engine/platform/src/platform_window_null.cpp
  engine/platform/src/wscript
  packages/glfw-3.4-arm64-linux.tar.gz
  packages/glfw-3.4-x86_64-linux.tar.gz
  scripts/build.py
  scripts/docker/Dockerfile
  share/extender/build_input.yml
Labels: engine, glfw

#9558 Hashing a render item must include all textures
  editor/src/clj/editor/graphics.clj
  editor/src/clj/editor/model.clj
  editor/src/clj/editor/particlefx.clj
  editor/src/clj/editor/sprite.clj
  editor/test/integration/particlefx_test.clj
  engine/gamesys/src/gamesys/components/comp_model.cpp
Labels: bug, engine

#9965 Handle cube texture types properly
  engine/graphics/src/webgpu/graphics_webgpu.cpp
Labels: engine, graphics, webgpu

#9951 Add initial dmsdk for WebGPU
  engine/graphics/src/dmsdk/graphics/graphics_webgpu.h
  engine/graphics/src/webgpu/graphics_webgpu.cpp
Labels: engine, dmsdk

#9963 Editor: Consolidate connections from host gui scene to template nodes
  editor/project.clj
  editor/src/clj/editor/gui.clj
  editor/src/clj/editor/util.clj
  editor/src/clj/util/coll.clj
  editor/src/dev/dev.clj
  editor/test/integration/build_test.clj
  editor/test/integration/gui_test.clj
  editor/test/resources/gui_project/gui/resources/shadowing_button.gui
  editor/test/resources/gui_project/gui/resources/shadowing_panel.gui
  editor/test/util/coll_test.clj
Labels: bug, editor, gui, performance
