Repository defold/defold, pull requests merged in 2024-06, with the labels that each got.

#8871 Support tangent space handedness
  editor/src/clj/editor/geom.clj
  editor/src/clj/editor/graphics.clj
  editor/src/clj/editor/model_scene.clj
  engine/gamesys/src/gamesys/components/comp_model.cpp
  engine/gamesys/src/gamesys/resources/res_model.cpp
  engine/modelc/src/java/com/dynamo/bob/pipeline/ModelImporter.java
  engine/modelc/src/modelimporter.h
  engine/modelc/src/modelimporter_gltf.cpp
  engine/modelc/src/modelimporter_jni.cpp
  engine/rig/src/dmsdk/rig/rig.h
  engine/rig/src/rig.cpp
  engine/rig/src/test/test_rig.cpp
Labels: bug, engine, graphics, render

#9021 Add option to build script that generates compile_commands.json file(s)
  .gitignore
  build_tools/clang_compilation_database.py
  build_tools/waf_dynamo.py
  scripts/build.py
Labels: feature request, engine

#9026 Ensure build targets from embedded objects inside editable resources fuse with equivalents from non-editable resources
  editor/src/clj/editor/pipeline.clj
  editor/src/clj/editor/resource.clj
  editor/src/clj/editor/workspace.clj
  editor/test/integration/non_editable_resources_test.clj
Labels: bug, editor

#9031 Add child-seqs to outline nodes for copy+paste handling
  editor/src/clj/editor/gui.clj
Labels: feature request, editor, gui

#9047 Change sprite image by sampler hash
  engine/gamesys/src/gamesys/components/comp_sprite.cpp
  engine/gamesys/src/gamesys/test/atlas/valid_64x64.atlas
  engine/gamesys/src/gamesys/test/fragment_program/valid_two_samplers.fp
  engine/gamesys/src/gamesys/test/sprite/image/get_set_image_by_hash.go
  engine/gamesys/src/gamesys/test/sprite/image/get_set_image_by_hash.material
  engine/gamesys/src/gamesys/test/sprite/image/get_set_image_by_hash.script
  engine/gamesys/src/gamesys/test/sprite/image/get_set_image_by_hash.sprite
  engine/gamesys/src/gamesys/test/test_gamesys.cpp
  engine/gamesys/src/gamesys/test/test_gamesys.h
  engine/graphics/src/graphics.cpp
Labels: feature request, engine, sprite

#9060 Concat errors when creating shaders in runtime
  engine/gamesys/src/gamesys/resources/res_compute_shader.cpp
  engine/gamesys/src/gamesys/resources/res_fragment_program.cpp
  engine/gamesys/src/gamesys/resources/res_vertex_program.cpp
  engine/graphics/src/graphics.cpp
  engine/graphics/src/graphics.h
  engine/graphics/src/graphics_adapter.h
  engine/graphics/src/null/graphics_null.cpp
  engine/graphics/src/opengl/graphics_opengl.cpp
  engine/graphics/src/test/test_app_graphics.cpp
  engine/graphics/src/test/test_graphics.cpp
  engine/graphics/src/vulkan/graphics_vulkan.cpp
  engine/render/src/render/debug_renderer.cpp
  engine/render/src/test/test_render.cpp
  engine/render/src/test/test_render_programs.cpp
  engine/render/src/test/test_render_script.cpp
Labels: engine, graphics

#9049 Updated to Xcode 15.4, iOS SDK 17.5 and macOS SDK 14.5
  .github/workflows/editor-only.yml
  .github/workflows/engine-nightly.yml
  .github/workflows/main-ci.yml
  build_tools/sdk.py
  scripts/build.py
Labels: task, pipeline

#9039 Reuse SDK versions in build.py and repack scripts
  build_tools/sdk.py
  build_tools/set_sdk_vars.py
  scripts/build.py
  scripts/mobile/android-repack-asan.sh
  scripts/mobile/android-repack.sh
Labels: skip release notes

#9062 Delete dynamic attributes from sprites when deleting the instance
  engine/gamesys/src/gamesys/components/comp_sprite.cpp
  engine/gamesys/src/gamesys/gamesys_private.cpp
  engine/gamesys/src/gamesys/gamesys_private.h
  engine/gamesys/src/gamesys/test/material/attributes_dynamic_count.go
  engine/gamesys/src/gamesys/test/material/attributes_dynamic_count.script
  engine/gamesys/src/gamesys/test/material/attributes_dynamic_count_generated_0.sprite
  engine/gamesys/src/gamesys/test/test_gamesys.cpp
Labels: bug, engine, graphics

#9066 Allow pasting objects into itself
  editor/src/clj/editor/asset_browser.clj
Labels: skip release notes

#9073 Fix broken input
  engine/hid/src/hid.cpp
  engine/hid/src/test/test_app_hid.cpp
Labels: skip release notes

#9079 Fix crash on android when events are issued that are not supported
  external/glfw/lib/android/android_init.c
  packages/glfw-2.7.1-arm64-android.tar.gz
  packages/glfw-2.7.1-armv7-android.tar.gz
Labels: skip release notes

#9078 Use full `llvm-ar` path
  share/extender/build_input.yml
Labels: skip release notes

#9094 Remove callback refs from sprite components
  engine/gameobject/proto/gameobject/gameobject_ddf.proto
  engine/gameobject/src/dmsdk/gameobject/script.h
  engine/gameobject/src/gameobject/comp_script.cpp
  engine/gameobject/src/gameobject/gameobject_script.cpp
  engine/gamesys/src/gamesys/components/comp_sprite.cpp
Labels: bug, sprite, animation

#9099 Add an adjustable limit for dynamic GUI textures
  editor/src/clj/editor/gui.clj
  editor/test/resources/save_data_project/checked01.gui
  editor/test/resources/save_data_project/checked02.gui
  editor/test/resources/save_data_project/checked03.gui
  engine/gamesys/proto/gamesys/gui_ddf.proto
  engine/gamesys/src/gamesys/components/comp_gui.cpp
  engine/gamesys/src/gamesys/test/gui/gui_max_dynamic_textures.go
  engine/gamesys/src/gamesys/test/gui/gui_max_dynamic_textures.gui_script
  engine/gamesys/src/gamesys/test/gui/gui_max_dynamic_textures_256.gui
  engine/gamesys/src/gamesys/test/test_gamesys.cpp
  engine/gui/src/gui.cpp
  engine/gui/src/gui.h
Labels: feature request, engine, gui

#9087 Unpin python
  .github/workflows/editor-only.yml
  .github/workflows/engine-nightly.yml
  .github/workflows/main-ci.yml
Labels: skip release notes

#9110 Fix issue that makes it impossible to use `tilemap.set_tile()` with physics on tiles with indexes greater than 2^16.
  engine/gamesys/src/gamesys/components/comp_collision_object.cpp
Labels: tilemap

#9118 Update `spineboy.spinejson`
  editor/test/resources/spine_migration_project/assets/spineboy/spineboy.spinejson
Labels: skip release notes

#9121 Added missing internal component conversion for component types
  editor/test/resources/spine_migration_project/assets/spineboy/spineboy.spinejson
  engine/gamesys/src/gamesys/components/comp_camera.cpp
  engine/gamesys/src/gamesys/components/comp_camera.h
  engine/gamesys/src/gamesys/components/comp_collision_object.cpp
  engine/gamesys/src/gamesys/components/comp_collision_object.h
  engine/gamesys/src/gamesys/components/comp_factory.cpp
  engine/gamesys/src/gamesys/components/comp_factory.h
  engine/gamesys/src/gamesys/components/comp_light.cpp
  engine/gamesys/src/gamesys/components/comp_light.h
  engine/gamesys/src/gamesys/components/comp_mesh.cpp
  engine/gamesys/src/gamesys/components/comp_model.cpp
  engine/gamesys/src/gamesys/components/comp_model.h
  engine/gamesys/src/gamesys/components/comp_particlefx.cpp
  engine/gamesys/src/gamesys/components/comp_particlefx.h
  engine/gamesys/src/gamesys/components/comp_sound.cpp
  engine/gamesys/src/gamesys/components/comp_sound.h
  engine/gamesys/src/gamesys/components/comp_sprite.cpp
  engine/gamesys/src/gamesys/components/comp_sprite.h
  engine/gamesys/src/gamesys/components/comp_tilegrid.cpp
  engine/gamesys/src/gamesys/components/comp_tilegrid.h
  engine/gamesys/src/gamesys/gamesys.cpp
  engine/gamesys/src/gamesys/test/camera/test_comp.go
  engine/gamesys/src/gamesys/test/collection_factory/test_comp.go
  engine/gamesys/src/gamesys/test/collection_proxy/test_comp.go
  engine/gamesys/src/gamesys/test/collision_object/test_comp.go
  engine/gamesys/src/gamesys/test/factory/test_comp.go
  engine/gamesys/src/gamesys/test/label/test_comp.go
  engine/gamesys/src/gamesys/test/light/test_comp.go
  engine/gamesys/src/gamesys/test/mesh/test_comp.go
  engine/gamesys/src/gamesys/test/model/test_comp.go
  engine/gamesys/src/gamesys/test/particlefx/test_comp.go
  engine/gamesys/src/gamesys/test/script/test_component.script
  engine/gamesys/src/gamesys/test/sound/test_comp.go
  engine/gamesys/src/gamesys/test/sprite/test_comp.go
  engine/gamesys/src/gamesys/test/test_gamesys.cpp
  engine/gamesys/src/gamesys/test/test_gamesys.h
  engine/gamesys/src/gamesys/test/tilegrid/test_comp.go
  engine/gamesys/src/gamesys/test/wscript
  engine/gamesys/src/waf_gamesys.py
Labels: skip release notes

#9103 Ouput samplers to .computec resources
  com.dynamo.cr/com.dynamo.cr.bob.test/src/com/dynamo/bob/pipeline/ComputeBuilderTest.java
  com.dynamo.cr/com.dynamo.cr.bob.test/src/com/dynamo/bob/pipeline/ParseUtil.java
  com.dynamo.cr/com.dynamo.cr.bob/src/com/dynamo/bob/pipeline/ComputeBuilder.java
  com.dynamo.cr/com.dynamo.cr.bob/src/com/dynamo/bob/pipeline/GraphicsUtil.java
  com.dynamo.cr/com.dynamo.cr.bob/src/com/dynamo/bob/pipeline/MaterialBuilder.java
  com.dynamo.cr/com.dynamo.cr.bob/src/com/dynamo/bob/pipeline/ProtoBuilders.java
  engine/gamesys/src/gamesys/resources/res_compute.cpp
  engine/gamesys/src/gamesys/test/shader/inputs.compute
  engine/gamesys/src/gamesys/test/test_gamesys.cpp
  engine/gamesys/src/waf_gamesys.py
  engine/render/src/render/compute.cpp
  engine/render/src/render/render.h
Labels: skip release notes

#9057 Add attachment texture resource path into resource.get_render_target_info
  editor/src/clj/editor/code/script_compilation.clj
  editor/test/editor/lua_parser_test.clj
  editor/test/integration/script_properties_test.clj
  engine/gamesys/src/gamesys/resources/res_mesh.cpp
  engine/gamesys/src/gamesys/resources/res_model.cpp
  engine/gamesys/src/gamesys/resources/res_render_target.cpp
  engine/gamesys/src/gamesys/resources/res_render_target.h
  engine/gamesys/src/gamesys/scripts/script_resource.cpp
  engine/gamesys/src/gamesys/test/resource/script_render_target.script
  engine/graphics/src/graphics.cpp
  engine/graphics/src/graphics.h
Labels: feature request, engine, render

#9139 Editor: Fix load crash resulting from missing Gui template resource
  editor/src/clj/editor/gui.clj
Labels: bug, editor

#9140 Editor: Default to internal code editor for .appmanifest files
  editor/src/clj/editor/app_manifest.clj
  editor/src/clj/editor/app_view.clj
Labels: feature request, editor

#9143 Editor: Open As Code in Defold Editor or Custom Editor
  editor/src/clj/editor/animation_set.clj
  editor/src/clj/editor/app_view.clj
  editor/src/clj/editor/html.clj
  editor/src/clj/editor/workspace.clj
Labels: feature request, editor
