Repository defold/defold, pull requests merged in 2024-03, with the labels that each got.

#8612 Fix bug when using go.animate after go.set
  engine/gamesys/src/gamesys/gamesys_private.cpp
  engine/render/src/render/material.cpp
Labels: skip release notes

#8611 Fix sound message and its documentation
  engine/gamesys/src/gamesys/components/comp_sound.cpp
  engine/gamesys/src/gamesys/scripts/script_sound.cpp
Labels: skip release notes

#8616 Use correct attribute name hash when getting existing dynamic attributes
  engine/gamesys/src/gamesys/gamesys_private.cpp
  engine/gamesys/src/gamesys/test/material/attributes_custom_color.vp
  engine/gamesys/src/gamesys/test/material/attributes_dynamic_go_animate.go
  engine/gamesys/src/gamesys/test/material/attributes_dynamic_go_animate.material
  engine/gamesys/src/gamesys/test/material/attributes_dynamic_go_animate.script
  engine/gamesys/src/gamesys/test/material/attributes_dynamic_go_animate_generated_0.sprite
  engine/gamesys/src/gamesys/test/test_gamesys.cpp
Labels: skip release notes

#8617 Acquire the AUX OpenGL context once
  engine/dlib/src/dlib/job_thread.cpp
  engine/dlib/src/dlib/job_thread.h
  engine/graphics/src/opengl/graphics_opengl.cpp
  engine/graphics/src/opengl/graphics_opengl_private.h
Labels: skip release notes

#8597 Gamesys vertex attribute consolidation
  editor/src/clj/editor/particle_lib.clj
  editor/src/java/com/defold/libs/ParticleLibrary.java
  engine/gamesys/src/gamesys/components/comp_gui.cpp
  engine/gamesys/src/gamesys/components/comp_gui_private.h
  engine/gamesys/src/gamesys/components/comp_model.cpp
  engine/gamesys/src/gamesys/components/comp_particlefx.cpp
  engine/gamesys/src/gamesys/components/comp_sprite.cpp
  engine/gamesys/src/gamesys/gamesys_private.cpp
  engine/gamesys/src/gamesys/gamesys_private.h
  engine/graphics/src/graphics.cpp
  engine/graphics/src/graphics.h
  engine/particle/src/particle.cpp
  engine/particle/src/particle.h
  engine/particle/src/test/test_particle.cpp
  engine/rig/src/dmsdk/rig/rig.h
  engine/rig/src/rig.cpp
Labels: skip release notes

#8624 fix buffer size
  engine/gamesys/src/gamesys/scripts/script_image.cpp
Labels: skip release notes

#8632 Fix case with mixing overridden attributes with non-overriden attribtues
  engine/gamesys/src/gamesys/gamesys_private.cpp
  engine/gamesys/src/gamesys/test/material/attributes_custom_multiple.vp
  engine/gamesys/src/gamesys/test/material/attributes_dynamic_go_set_get_sparse.go
  engine/gamesys/src/gamesys/test/material/attributes_dynamic_go_set_get_sparse.material
  engine/gamesys/src/gamesys/test/material/attributes_dynamic_go_set_get_sparse.script
  engine/gamesys/src/gamesys/test/material/attributes_dynamic_go_set_get_sparse_generated_0.sprite
  engine/gamesys/src/gamesys/test/test_gamesys.cpp
Labels: skip release notes

#8634 Add support for render.set_render_target_size for render resources
  engine/graphics/src/vulkan/graphics_vulkan.cpp
  engine/render/src/render/render_script.cpp
  engine/render/src/test/test_render_script.cpp
Labels: feature request, engine

#8640 Clear the texture data if no buffer is passed in when using resource.create_texture
  engine/gamesys/src/gamesys/scripts/script_resource.cpp
Labels: bug, engine

#8657 Add margins to the left and top edges of the atlas.
  com.dynamo.cr/com.dynamo.cr.bob.test/src/com/dynamo/bob/textureset/test/TextureSetGeneratorTest.java
  com.dynamo.cr/com.dynamo.cr.bob.test/src/com/dynamo/bob/textureset/test/TextureSetLayoutTest.java
  com.dynamo.cr/com.dynamo.cr.bob/src/com/dynamo/bob/textureset/MaxRectsLayoutStrategy.java
Labels: atlas

#8663 Fix navigating to referencing atlas from missing image build error
  editor/src/clj/editor/resource_update.clj
  editor/test/integration/reload_test.clj
Labels: bug, editor

#8620 Storage buffer support part 1
  com.dynamo.cr/com.dynamo.cr.bob.test/build.xml
  com.dynamo.cr/com.dynamo.cr.bob.test/src/com/dynamo/bob/pipeline/ShaderProgramBuilderTest.java
  com.dynamo.cr/com.dynamo.cr.bob/src/com/dynamo/bob/pipeline/ShaderCompilerHelpers.java
  com.dynamo.cr/com.dynamo.cr.bob/src/com/dynamo/bob/pipeline/ShaderUtil.java
  engine/gamesys/src/gamesys/test/test_gamesys.cpp
  engine/graphics/proto/graphics/graphics_ddf.proto
  engine/graphics/src/graphics.cpp
  engine/graphics/src/graphics.h
  engine/graphics/src/graphics_private.h
  engine/graphics/src/null/graphics_null.cpp
  engine/graphics/src/opengl/graphics_opengl.cpp
  engine/graphics/src/opengl/graphics_opengl_private.h
  engine/graphics/src/test/test_app_graphics.cp.spv
  engine/graphics/src/test/test_app_graphics.cpp
  engine/graphics/src/test/test_app_graphics.fs.spv
  engine/graphics/src/test/test_app_graphics.vs.spv
  engine/graphics/src/test/test_app_graphics_assets.h
  engine/graphics/src/test/test_app_graphics_package_assets.py
  engine/graphics/src/test/test_app_graphics_ssbo.fs
  engine/graphics/src/test/test_app_graphics_ssbo.fs.spv
  engine/graphics/src/vulkan/graphics_vulkan.cpp
  engine/graphics/src/vulkan/graphics_vulkan.h
  engine/graphics/src/vulkan/graphics_vulkan_device.cpp
  engine/graphics/src/vulkan/graphics_vulkan_private.h
  engine/render/src/render/program_utils.cpp
Labels: skip release notes

#8670 Unpack buffer from argument before setting texture
  engine/gamesys/src/gamesys/scripts/script_resource.cpp
Labels: bug, engine

#8638 Add gui.get and gui.set
  engine/gamesys/src/gamesys/components/comp_gui.cpp
  engine/gui/src/dmsdk/gui/gui.h
  engine/gui/src/gui.cpp
  engine/gui/src/gui_private.h
  engine/gui/src/gui_script.cpp
  engine/gui/src/test/test_gui.cpp
  engine/gui/src/test/test_gui_script.cpp
Labels: feature request, engine, gui

#8699 Throw shader compiler error when shader input and output does not match
  com.dynamo.cr/com.dynamo.cr.bob/src/com/dynamo/bob/pipeline/MaterialBuilder.java
Labels: skip release notes

#8697 Use the 64-bit version of LuaJIT in the editor
  editor/src/clj/editor/code/script.clj
Labels: task, editor, skip release notes

#8696 Fixed property schema validation in the editor
  editor/src/clj/internal/node.clj
  editor/src/clj/internal/transaction.clj
Labels: bug, editor, skip release notes

#8695 Add various scene data utility functions to the dev module
  editor/.idea/codeStyles/Project.xml
  editor/src/clj/editor/buffers.clj
  editor/src/clj/editor/code/data.clj
  editor/src/clj/editor/scene_cache.clj
  editor/src/dev/dev.clj
Labels: task, editor, skip release notes

#8708 Fixed editor reflection warning by removing unused functions
  editor/src/clj/editor/code/shader.clj
Labels: editor, skip release notes

#8694 Editor model rendering optimizations and fixes
  editor/src/clj/editor/code/shader.clj
  editor/src/clj/editor/geom.clj
  editor/src/clj/editor/gl/shader.clj
  editor/src/clj/editor/gl/texture.clj
  editor/src/clj/editor/graphics.clj
  editor/src/clj/editor/math.clj
  editor/src/clj/editor/model.clj
  editor/src/clj/editor/model_scene.clj
  editor/src/clj/editor/scene.clj
  editor/test/integration/collada_scene_test.clj
  editor/test/integration/model_scene_test.clj
  editor/test/integration/model_test.clj
Labels: bug, editor, model, performance

#8720 Check response status when fetch wasm for streaming instantiate.
  com.dynamo.cr/com.dynamo.cr.bob/src/com/dynamo/bob/bundle/resources/jsweb/dmloader.js
Labels: bug, html5

#8710 Produce local and world spaced models with correct custom attribute values
  engine/gamesys/src/gamesys/components/comp_model.cpp
  engine/graphics/src/graphics.h
  engine/graphics/src/vulkan/graphics_vulkan.cpp
  engine/rig/src/dmsdk/rig/rig.h
  engine/rig/src/rig.cpp
Labels: bug, engine, model

#8725 Add a read timeout when fetching libraries from the editor
  editor/src/clj/editor/library.clj
Labels: bug, editor

#8726 Update script_http_js to handle downloading progress. Fix web builds.
  engine/gamesys/src/gamesys/scripts/script_http_js.cpp
  engine/gamesys/src/gamesys/wscript
  engine/script/lib/js/library_script.js
Labels: skip release notes

#8698 Fix flickering on vulkan when drawing to a render target
  engine/graphics/src/vulkan/graphics_vulkan.cpp
  engine/graphics/src/vulkan/graphics_vulkan_swap_chain.cpp
  external/glfw/lib/android/android_window.c
  packages/glfw-2.7.1-arm64-android.tar.gz
  packages/glfw-2.7.1-armv7-android.tar.gz
Labels: bug, engine, graphics, vulkan

#8675 Move experimental vulkan functions to mainline graphics_vulkan library
  engine/graphics/src/dmsdk/graphics/graphics.h
  engine/graphics/src/dmsdk/graphics/graphics_vulkan.h
  engine/graphics/src/graphics.cpp
  engine/graphics/src/graphics.h
  engine/graphics/src/graphics_adapter.h
  engine/graphics/src/test/test_app_graphics.cpp
  engine/graphics/src/test/wscript
  engine/graphics/src/vulkan/graphics_native.cpp
  engine/graphics/src/vulkan/graphics_vulkan.cpp
  engine/graphics/src/vulkan/graphics_vulkan.h
  engine/graphics/src/vulkan/graphics_vulkan_context.cpp
  engine/graphics/src/vulkan/graphics_vulkan_private.h
  engine/graphics/src/wscript
Labels: engine, vulkan

#8719 Make maximum amount of text batches configurable via game.project.
  com.dynamo.cr/com.dynamo.cr.bob/src/com/dynamo/bob/meta.properties
  editor/resources/meta.edn
  editor/test/resources/save_data_project/game.project
  engine/engine/src/engine.cpp
  engine/gamesys/src/gamesys/test/fontview/fontview.cpp
  engine/gamesys/src/gamesys/test/test_gamesys.h
  engine/render/src/render/font_renderer.cpp
  engine/render/src/render/font_renderer.h
  engine/render/src/render/render.cpp
  engine/render/src/render/render.h
  engine/render/src/test/test_material.cpp
  engine/render/src/test/test_render.cpp
  engine/render/src/test/test_render_buffer.cpp
  engine/render/src/test/test_render_script.cpp
Labels: font

#8713 Update github workflows
  .github/dependabot.yml
  .github/workflows/editor-only.yml
  .github/workflows/engine-nightly.yml
  .github/workflows/main-ci.yml
Labels: ci, skip release notes
