Repository defold/defold, pull requests merged in 2024-01, with the labels that each got.

#8357 Add missing functions to null physics libraries
  engine/physics/src/physics/physics.h
  engine/physics/src/physics/physics_2d_null.cpp
  engine/physics/src/physics/physics_3d_null.cpp
Labels: bug, engine, physics

#8358 Set data correctly when recreating dynamic texture in gui
  engine/gui/src/gui.cpp
  engine/gui/src/test/test_gui_script.cpp
Labels: bug, engine, gui

#8330 Load images in runtime as buffers
  engine/gamesys/src/gamesys/gamesys_script.cpp
  engine/gamesys/src/gamesys/scripts/script_image.cpp
  engine/gamesys/src/gamesys/scripts/script_image.h
  engine/gamesys/src/gamesys/scripts/script_resource.cpp
  engine/gamesys/src/gamesys/test/image/color_check_2x2.jpg.raw
  engine/gamesys/src/gamesys/test/image/color_check_2x2.png.raw
  engine/gamesys/src/gamesys/test/image/color_check_2x2.psd
  engine/gamesys/src/gamesys/test/image/color_check_2x2_16.png.raw
  engine/gamesys/src/gamesys/test/image/color_check_2x2_indexed.png.raw
  engine/gamesys/src/gamesys/test/image/test_image.lua
  engine/gamesys/src/gamesys/test/image/test_image_buffer.go
  engine/gamesys/src/gamesys/test/image/test_image_buffer.script
  engine/gamesys/src/gamesys/test/test_gamesys.cpp
  engine/gamesys/src/gamesys/test/test_gamesys.h
  engine/gamesys/src/gamesys/test/wscript
  engine/gamesys/src/gamesys/wscript
  engine/script/src/script.cpp
  engine/script/src/script_image.cpp
  engine/script/src/test/test_script_image.cpp
  engine/script/src/test/wscript
  engine/script/src/wscript
Labels: feature request, engine

#8361 Fix for shutting down OpenAL in a more robust manner
  engine/sound/src/devices/device_openal.cpp
  engine/sound/src/sound.cpp
Labels: engine, sound, ios

#8293 Compute shader support, part deux
  com.dynamo.cr/com.dynamo.cr.bob.test/src/com/dynamo/bob/pipeline/ParseUtil.java
  com.dynamo.cr/com.dynamo.cr.bob.test/src/com/dynamo/bob/pipeline/ShaderProgramBuilderTest.java
  com.dynamo.cr/com.dynamo.cr.bob/build.xml
  com.dynamo.cr/com.dynamo.cr.bob/src/com/dynamo/bob/pipeline/ComputeProgramBuilder.java
  com.dynamo.cr/com.dynamo.cr.bob/src/com/dynamo/bob/pipeline/ProtoBuilders.java
  com.dynamo.cr/com.dynamo.cr.bob/src/com/dynamo/bob/pipeline/ShaderCompilerHelpers.java
  engine/gamesys/src/gamesys/gamesys.cpp
  engine/gamesys/src/gamesys/resources/res_compute_program.cpp
  engine/gamesys/src/gamesys/resources/res_compute_program.h
  engine/gamesys/src/gamesys/resources/res_compute_shader.cpp
  engine/gamesys/src/gamesys/resources/res_compute_shader.h
  engine/gamesys/src/gamesys/test/shader/valid.compute_program
  engine/gamesys/src/gamesys/test/shader/valid.cp
  engine/gamesys/src/gamesys/test/test_gamesys.cpp
  engine/gamesys/src/gamesys/test/wscript
  engine/gamesys/src/waf_gamesys.py
  engine/graphics/src/dmsdk/graphics/graphics.h
  engine/graphics/src/graphics.cpp
  engine/graphics/src/graphics.h
  engine/graphics/src/graphics_adapter.h
  engine/graphics/src/graphics_private.h
  engine/graphics/src/null/graphics_null.cpp
  engine/graphics/src/null/graphics_null_private.h
  engine/graphics/src/opengl/graphics_opengl.cpp
  engine/graphics/src/opengl/graphics_opengl_defines.h
  engine/graphics/src/opengl/graphics_opengl_private.h
  engine/graphics/src/opengl/win32/KHR/khrplatform.h
  engine/graphics/src/opengl/win32/README.md
  engine/graphics/src/opengl/win32/glcorearb.h
  engine/graphics/src/test/test_app_graphics.cp
  engine/graphics/src/test/test_app_graphics.cp.spv
  engine/graphics/src/test/test_app_graphics.cpp
  engine/graphics/src/test/test_app_graphics.fs
  engine/graphics/src/test/test_app_graphics.fs.spv
  engine/graphics/src/test/test_app_graphics.vs
  engine/graphics/src/test/test_app_graphics.vs.spv
  engine/graphics/src/test/test_app_graphics_assets.h
  engine/graphics/src/test/test_app_graphics_package_assets.py
  engine/graphics/src/test/test_app_vulkan.cpp
  engine/graphics/src/test/test_app_vulkan_assets.h
  engine/graphics/src/test/wscript
  engine/graphics/src/vulkan/graphics_vulkan.cpp
  engine/graphics/src/wscript
  engine/render/proto/render/compute_program_ddf.proto
  engine/render/src/render/compute.cpp
  engine/render/src/render/render.h
  engine/render/src/render/render_private.h
  scripts/unpack_ddf.py
Labels: engine, 3d

#8359 Crash fix for when overriding a texture on a sprite
  engine/gamesys/src/gamesys/components/comp_sprite.cpp
  engine/gamesys/src/gamesys/test/resource/create_texture.script
  engine/gamesys/src/gamesys/test/sprite/frame_count/sprite_frame_count.script
  engine/gamesys/src/gamesys/test/test_gamesys.cpp
  engine/gamesys/src/gamesys/test/test_gamesys.h
Labels: engine, sprite, skip release notes

#8366 Fix for consecutive render list dispatches per component
  engine/gamesys/src/gamesys/components/comp_model.cpp
  engine/gamesys/src/gamesys/components/comp_particlefx.cpp
  engine/gamesys/src/gamesys/components/comp_sprite.cpp
  engine/gamesys/src/gamesys/components/comp_tilegrid.cpp
  engine/render/src/render/buffer.cpp
  engine/render/src/render/render.h
  engine/render/src/render/render_private.h
  engine/render/src/test/test_render_buffer.cpp
Labels: skip release notes

#8376 Platform null fix
  engine/platform/src/platform_window_glfw.cpp
  engine/platform/src/test/test_platform_app.cpp
  share/extender/variants/headless_input.appmanifest
Labels: skip release notes

#8375 Slightly improve editor memory usage for large projects
  editor/src/clj/editor/gui.clj
  editor/src/clj/editor/math.clj
  editor/src/clj/editor/welcome.clj
  editor/src/clj/internal/graph/types.clj
  editor/src/clj/util/coll.clj
  editor/src/dev/dev.clj
  editor/src/java/com/defold/util/WeakInterner.java
  editor/test/util/weak_interner_test.clj
Labels: task, editor

#8380 Readd glfw_android.jar to defoldsdk.zip
  scripts/build.py
Labels: skip release notes

#8379 Fixed crash when overriding a sprite material
  engine/gamesys/src/gamesys/components/comp_sprite.cpp
Labels: skip release notes

#8383 Moved glfw to external libraries in the build.yml
  share/extender/build_input.yml
Labels: skip release notes

#8255 Custom vertex format support for Models
  com.dynamo.cr/com.dynamo.cr.bob.test/src/com/dynamo/bob/pipeline/ModelBuilderTest.java
  com.dynamo.cr/com.dynamo.cr.bob.test/src/com/dynamo/bob/pipeline/ParseUtil.java
  com.dynamo.cr/com.dynamo.cr.bob/src/com/dynamo/bob/pipeline/GraphicsUtil.java
  com.dynamo.cr/com.dynamo.cr.bob/src/com/dynamo/bob/pipeline/ModelBuilder.java
  com.dynamo.cr/com.dynamo.cr.bob/src/com/dynamo/bob/pipeline/ProtoBuilders.java
  editor/src/clj/editor/graphics.clj
  editor/src/clj/editor/model.clj
  editor/src/clj/editor/model_scene.clj
  editor/src/clj/editor/particle_lib.clj
  editor/src/clj/editor/particlefx.clj
  editor/src/clj/editor/sprite.clj
  editor/test/integration/save_data_test.clj
  editor/test/resources/save_data_project/checked.model
  editor/test/resources/save_data_project/referenced/model.material
  engine/gamesys/proto/gamesys/model_ddf.proto
  engine/gamesys/src/dmsdk/gamesys/resources/res_model.h
  engine/gamesys/src/gamesys/components/comp_gui.cpp
  engine/gamesys/src/gamesys/components/comp_model.cpp
  engine/gamesys/src/gamesys/resources/res_model.cpp
  engine/graphics/proto/graphics/graphics_ddf.proto
  engine/graphics/src/graphics.cpp
  engine/graphics/src/graphics.h
  engine/graphics/src/graphics_adapter.h
  engine/graphics/src/graphics_private.h
  engine/graphics/src/null/graphics_null.cpp
  engine/graphics/src/null/graphics_null_private.h
  engine/graphics/src/opengl/graphics_opengl.cpp
  engine/graphics/src/test/test_graphics.cpp
  engine/graphics/src/vulkan/graphics_vulkan.cpp
  engine/graphics/src/vulkan/graphics_vulkan.h
  engine/particle/src/particle.cpp
  engine/render/src/dmsdk/render/render.h
  engine/render/src/render/material.cpp
  engine/render/src/render/render.cpp
  engine/render/src/render/render.h
  engine/rig/src/dmsdk/rig/rig.h
  engine/rig/src/rig.cpp
Labels: feature request, engine, model

#8392 Crash fix for sprites when missing an animation in the atlas
  engine/gamesys/src/gamesys/components/comp_sprite.cpp
Labels: engine, sprite

#8391 Add hid context to the gui
  engine/engine/src/engine.cpp
  engine/gamesys/src/gamesys/test/test_gamesys.cpp
  engine/gamesys/src/gamesys/test/test_gamesys.h
  engine/gui/src/gui.cpp
  engine/gui/src/gui.h
  engine/gui/src/test/test_gui_script.cpp
  engine/hid/src/hid.cpp
  engine/hid/src/hid.h
  engine/hid/src/hid_null.cpp
  engine/hid/src/native/hid_native.cpp
  engine/platform/src/platform_window.h
  engine/platform/src/platform_window_glfw.cpp
  engine/platform/src/platform_window_null.cpp
Labels: skip release notes

#8403 Fix for slice 9 sprites with rotated uvs
  engine/gamesys/src/gamesys/components/comp_sprite.cpp
Labels: engine, sprite, skip release notes

#8404 Fix for calculating size of sprite vertex buffer data
  engine/gamesys/src/gamesys/components/comp_sprite.cpp
  engine/gamesys/src/gamesys/scripts/script_resource.cpp
Labels: engine, sprite, skip release notes

#8408 Remove semicolons only when we modify code somehow
  com.dynamo.cr/com.dynamo.cr.bob.test/src/com/dynamo/bob/pipeline/LuaScannerTest.java
  com.dynamo.cr/com.dynamo.cr.bob/src/com/dynamo/bob/pipeline/LuaScanner.java
Labels: skip release notes

#8409 Use older glslc for x86_64 macOS
  packages/glslc-31bddbb-x86_64-macos.tar.gz
  packages/glslc-40bced4-x86_64-macos.tar.gz
  scripts/build.py
Labels: skip release notes

#8412 Fix intermittent runtime fails for gamesys buffer tests
  engine/gamesys/src/dmsdk/gamesys/script.h
  engine/gamesys/src/gamesys/scripts/script_buffer.cpp
  engine/gamesys/src/gamesys/scripts/script_resource.cpp
  engine/gamesys/src/gamesys/test/resource/script_buffer.script
  engine/resource/src/dmsdk/resource/resource.h
  engine/resource/src/resource.cpp
  engine/resource/src/resource.h
Labels: skip release notes

#8419 Add new default filtering keyword for material samplers (Engine support)
  engine/gamesys/src/gamesys/resources/res_material.cpp
  engine/graphics/src/graphics_private.h
  engine/graphics/src/null/graphics_null.cpp
  engine/graphics/src/null/graphics_null_private.h
  engine/graphics/src/opengl/graphics_opengl.cpp
  engine/graphics/src/vulkan/graphics_vulkan.cpp
  engine/render/proto/render/material_ddf.proto
  engine/render/src/render/material.cpp
  engine/render/src/test/test_render.cpp
Labels: graphics, render

#8421 Remove material count limit for models
  engine/gamesys/src/gamesys/components/comp_model.cpp
Labels: feature request

#8445 Added missing dmTransform include in dmSDK
  engine/dlib/src/dmsdk/dlib/transform.h
  engine/sdk/src/dmsdk/sdk.h
Labels: skip release notes

#8456 New function `physics.update_mass(url, mass)`
  engine/gamesys/src/gamesys/components/comp_collision_object.cpp
  engine/gamesys/src/gamesys/components/comp_collision_object.h
  engine/gamesys/src/gamesys/scripts/script_physics.cpp
  engine/gamesys/src/gamesys/test/collision_object/mass.script
  engine/gamesys/src/gamesys/test/collision_object/mass_object.collisionobject
  engine/gamesys/src/gamesys/test/collision_object/mass_object.go
  engine/gamesys/src/gamesys/test/test_gamesys.cpp
  engine/physics/src/physics/physics.h
  engine/physics/src/physics/physics_2d.cpp
  engine/physics/src/physics/physics_2d_null.cpp
Labels: physics

#8465 Bugfix for sprites when running on non-opengl graphics adapters
  engine/gamesys/src/gamesys/components/comp_sprite.cpp
Labels: skip release notes

#8471 Fixed animation index lookup for sprite textures
  engine/gamesys/src/gamesys/components/comp_sprite.cpp
Labels: skip release notes

#8474 Bugfix for particles, models and tilegrids when running on non-opengl graphics adapters
  engine/gamesys/src/gamesys/components/comp_model.cpp
  engine/gamesys/src/gamesys/components/comp_particlefx.cpp
  engine/gamesys/src/gamesys/components/comp_tilegrid.cpp
Labels: skip release notes

#8473 Add `editor.delete_directory()`
  editor/src/clj/editor/editor_extensions.clj
  editor/src/clj/editor/fs.clj
  editor/src/clj/editor/lua.clj
Labels: editor, editor scripts
