Repository defold/defold, pull requests merged in 2024-08, with the labels that each got.

#9249 Add graphics module
  engine/crash/src/test/test_script_crash.cpp
  engine/crash/src/test/test_script_crash_null.cpp
  engine/crash/src/test/wscript
  engine/engine/content/builtins/render/default.render_script
  engine/engine/src/engine.cpp
  engine/gameobject/src/gameobject/test/anim/test_gameobject_anim.cpp
  engine/gameobject/src/gameobject/test/bones/test_gameobject_bones.cpp
  engine/gameobject/src/gameobject/test/collection/test_gameobject_collection.cpp
  engine/gameobject/src/gameobject/test/component/test_gameobject_component.cpp
  engine/gameobject/src/gameobject/test/delete/test_gameobject_delete.cpp
  engine/gameobject/src/gameobject/test/factory/test_gameobject_factory.cpp
  engine/gameobject/src/gameobject/test/hierarchy/test_gameobject_hierarchy.cpp
  engine/gameobject/src/gameobject/test/id/test_gameobject_id.cpp
  engine/gameobject/src/gameobject/test/input/test_gameobject_input.cpp
  engine/gameobject/src/gameobject/test/message/test_gameobject_message.cpp
  engine/gameobject/src/gameobject/test/props/test_gameobject_props.cpp
  engine/gameobject/src/gameobject/test/reload/test_collection_reload.cpp
  engine/gameobject/src/gameobject/test/reload/test_gameobject_reload.cpp
  engine/gameobject/src/gameobject/test/script/test_gameobject_script.cpp
  engine/gameobject/src/gameobject/test/spawn_delete/test_gameobject_spawn_delete.cpp
  engine/gameobject/src/gameobject/test/wscript
  engine/gamesys/src/gamesys/scripts/script_image.cpp
  engine/gamesys/src/gamesys/scripts/script_resource.cpp
  engine/gamesys/src/gamesys/test/gui/texture_resources/texture_resources.script
  engine/gamesys/src/gamesys/test/image/test_image_buffer.script
  engine/gamesys/src/gamesys/test/resource/create_texture.script
  engine/gamesys/src/gamesys/test/resource/set_texture.script
  engine/gamesys/src/gamesys/test/sprite/frame_count/sprite_frame_count.script
  engine/gamesys/src/gamesys/test/test_gamesys.h
  engine/gamesys/src/gamesys/test/test_script_http.cpp
  engine/graphics/proto/graphics/graphics_ddf.proto
  engine/graphics/src/graphics.h
  engine/graphics/src/opengl/graphics_opengl.cpp
  engine/graphics/src/test/test_app_graphics.cpp
  engine/graphics/src/vulkan/graphics_vulkan.cpp
  engine/gui/src/test/test_gui.cpp
  engine/gui/src/test/test_gui_clipping.cpp
  engine/gui/src/test/test_gui_script.cpp
  engine/gui/src/test/wscript
  engine/liveupdate/src/test/wscript
  engine/render/src/render/render_script.cpp
  engine/render/src/test/test_render.cpp
  engine/render/src/test/test_render_buffer.cpp
  engine/render/src/test/test_render_programs.cpp
  engine/render/src/test/test_render_script.cpp
  engine/script/src/script.cpp
  engine/script/src/script.h
  engine/script/src/script_graphics.cpp
  engine/script/src/script_graphics.h
  engine/script/src/script_private.h
  engine/script/src/test/test_script.cpp
  engine/script/src/test/test_script_lua.cpp
  engine/script/src/test/test_script_msg.cpp
  engine/script/src/test/wscript
Labels: feature request, engine, graphics

#9262 Skip loading tilesets for sprites
  engine/gamesys/src/gamesys/resources/res_sprite.cpp
Labels: bug, engine, sprite

#9264 Editor: Fix crash when switching to Manual Size Mode without a texture assigned
  editor/src/clj/editor/slice9.clj
  editor/src/clj/editor/sprite.clj
Labels: bug, editor

#9228 Upgrade GLFW to 3.4 for Win32 platforms
  build_tools/waf_dynamo.py
  editor/src/clj/editor/app_manifest.clj
  editor/test/resources/test_project/app_manifest/vulkan.appmanifest
  editor/test/resources/test_project/app_manifest/vulkan_and_opengl.appmanifest
  engine/engine/src/engine.cpp
  engine/engine/wscript
  engine/graphics/src/graphics_glfw_wrappers.cpp
  engine/graphics/src/test/test_app_graphics.cpp
  engine/graphics/src/vulkan/desktop/graphics_vulkan_surface.cpp
  engine/graphics/src/vulkan/macosx/graphics_vulkan_native.mm
  engine/graphics/src/vulkan/win32/graphics_vulkan_win32_surface.cpp
  engine/graphics/src/wscript
  engine/hid/src/native/hid_gamepad_driver_glfw.cpp
  engine/hid/src/native/hid_native.cpp
  engine/hid/src/wscript
  engine/input/src/wscript
  engine/platform/src/platform_window.h
  engine/platform/src/platform_window_glfw.cpp
  engine/platform/src/platform_window_glfw3.cpp
  engine/platform/src/platform_window_glfw3_osx.cpp
  engine/platform/src/platform_window_glfw3_private.h
  engine/platform/src/platform_window_glfw3_win32.cpp
  engine/platform/src/platform_window_glfw_win32.cpp
  engine/platform/src/platform_window_null.cpp
  engine/platform/src/platform_window_win32.h
  engine/platform/src/test/test_platform_app.cpp
  engine/platform/src/wscript
  engine/tools/src/gdc/main.cpp
  engine/tools/wscript
  packages/glfw-2.7.1-win32.tar.gz
  packages/glfw-2.7.1-x86_64-win32.tar.gz
  packages/glfw-3.4-win32.tar.gz
  packages/glfw-3.4-x86_64-win32.tar.gz
  scripts/build.py
  share/ext/glfw/build_glfw.sh
  share/ext/glfw/patch_3.4
  share/extender/build_input.yml
Labels: engine, windows, glfw

#9266 Only compile compute shaders for compatible shader languages
  com.dynamo.cr/com.dynamo.cr.bob/src/com/dynamo/bob/pipeline/ShaderProgramBuilderEditor.java
Labels: skip release notes

#9269 Support render.enable_material with material(s) that use custom vertex attributes
  engine/gamesys/src/gamesys/components/comp_model.cpp
  engine/gamesys/src/gamesys/components/comp_particlefx.cpp
  engine/gamesys/src/gamesys/components/comp_sprite.cpp
  engine/render/src/render/render.cpp
  engine/render/src/render/render.h
Labels: bug, engine

#9272 Add missing shader language
  engine/graphics/src/graphics.cpp
  engine/render/src/render/program_utils.cpp
Labels: engine, skip release notes

#9274 Support turning vsync off for Vulkan
  engine/engine/src/engine.cpp
  engine/graphics/src/graphics.cpp
  engine/graphics/src/graphics.h
  engine/graphics/src/null/graphics_null.cpp
  engine/graphics/src/opengl/graphics_opengl.cpp
  engine/graphics/src/vulkan/graphics_vulkan.cpp
  engine/graphics/src/vulkan/graphics_vulkan_private.h
Labels: feature request, engine, graphics, vulkan

#9276 Fix issue when debugger can't connect to the single issue after launch
  editor/src/clj/editor/app_view.clj
Labels: skip release notes

#9288 Make sure that build server url is trimmed
  editor/src/clj/editor/engine/native_extensions.clj
Labels: skip release notes

#9277 Editor: Fix various issues with slice9 and gui pivots
  editor/src/clj/editor/atlas.clj
  editor/src/clj/editor/geom.clj
  editor/src/clj/editor/gui.clj
  editor/src/clj/editor/pipeline/texture_set_gen.clj
  editor/src/clj/editor/slice9.clj
  editor/src/clj/editor/sprite.clj
  editor/src/clj/editor/texture_set.clj
  editor/src/clj/editor/tile_source.clj
  editor/src/clj/editor/types.clj
Labels: bug, editor

#9294 Remove symlinks from luajit packages
  packages/luajit-2.1.0-04dca79-arm64-macos.tar.gz
  packages/luajit-2.1.0-04dca79-x86_64-macos.tar.gz
  share/ext/luajit/build_luajit.sh
Labels: skip release notes

#9295 Fix docs for `graphics` module
  editor/src/clj/editor/lua.clj
  engine/docs/src/script_doc.py
  engine/script/src/script_graphics.cpp
Labels: skip release notes

#9307 Editor: Decorate build exceptions with error source
  editor/src/clj/dynamo/graph.clj
  editor/src/clj/editor/app_view.clj
  editor/src/clj/editor/build.clj
  editor/src/clj/editor/engine/build_errors.clj
  editor/src/clj/editor/game_object_common.clj
  editor/src/clj/editor/graph_util.clj
  editor/src/clj/editor/pipeline.clj
  editor/src/clj/internal/node.clj
  editor/src/clj/internal/system.clj
  editor/src/clj/internal/transaction.clj
  editor/src/dev/dev.clj
  editor/test/editor/pipeline_test.clj
  editor/test/integration/build_test.clj
  editor/test/internal/graph/graph_test.clj
Labels: task, editor

#9316 Ensure build resource paths for embedded resources always reflect their contents
  editor/src/clj/editor/build_target.clj
  editor/src/clj/editor/code/shader.clj
  editor/src/clj/editor/collection.clj
  editor/src/clj/editor/collection_common.clj
  editor/src/clj/editor/collection_non_editable.clj
  editor/src/clj/editor/defold_project.clj
  editor/src/clj/editor/font.clj
  editor/src/clj/editor/game_object.clj
  editor/src/clj/editor/game_object_common.clj
  editor/src/clj/editor/game_object_non_editable.clj
  editor/src/clj/editor/image.clj
  editor/src/clj/editor/model.clj
  editor/src/clj/editor/rig.clj
  editor/src/clj/editor/workspace.clj
  editor/test/editor/build_target_test.clj
Labels: bug, editor

#9317 Fix missing animation preview overlay in atlas views
  editor/src/clj/editor/texture_set.clj
Labels: bug, editor

#9327 Correctly visualize trimmed sprites with flipped animations
  editor/src/clj/editor/texture_set.clj
Labels: bug, editor

#9339 Make sure that engine owns `path` in http request on web
  engine/gamesys/src/gamesys/scripts/script_http_js.cpp
Labels: skip release notes

#9338 Doc fix: Changed ´handle´ type to integer in timer.* functions
  engine/script/src/script_timer.cpp
Labels: documentation

#9342 More info about build time
  com.dynamo.cr/com.dynamo.cr.bob/src/com/dynamo/bob/Bob.java
  com.dynamo.cr/com.dynamo.cr.bob/src/com/dynamo/bob/Project.java
  com.dynamo.cr/com.dynamo.cr.bob/src/com/dynamo/bob/util/TimeProfiler.java
Labels: skip release notes

#9347 Added fix for asynchronous raycast messages
  engine/dlib/src/dlib/message.cpp
  engine/dlib/src/dmsdk/dlib/message.h
  engine/dlib/src/test/test_httpclient.cpp
  engine/engine/loop.sh
  engine/engine/src/test/main.script
  engine/gameobject/src/gameobject/gameobject.cpp
  engine/gameobject/src/gameobject/gameobject.h
  engine/gameobject/src/gameobject/gameobject_private.h
  engine/gamesys/proto/gamesys/physics_ddf.proto
  engine/gamesys/src/gamesys/components/comp_collision_object.cpp
  engine/gamesys/src/gamesys/scripts/script_camera.cpp
  engine/gamesys/src/gamesys/scripts/script_collection_factory.cpp
  engine/gamesys/src/gamesys/scripts/script_collectionproxy.cpp
  engine/gamesys/src/gamesys/scripts/script_factory.cpp
  engine/gamesys/src/gamesys/scripts/script_label.cpp
  engine/gamesys/src/gamesys/scripts/script_model.cpp
  engine/gamesys/src/gamesys/scripts/script_particlefx.cpp
  engine/gamesys/src/gamesys/scripts/script_physics.cpp
  engine/gamesys/src/gamesys/scripts/script_sound.cpp
  engine/gamesys/src/gamesys/scripts/script_sprite.cpp
  engine/gamesys/src/gamesys/scripts/script_tilemap.cpp
Labels: engine, physics

#9349 Optimized the sprite component size
  engine/dlib/README.md
  engine/dlib/bin/memprofile.sh
  engine/dlib/src/dlib/memprofile.cpp
  engine/dlib/src/dlib/memprofile.py
  engine/engine/scripts/dmengine_memprofile.sh
  engine/gamesys/src/gamesys/components/comp_sprite.cpp
Labels: engine, sprite
