Repository defold/defold, pull requests merged in 2024-07, with the labels that each got.

#9144 Editor: Support viewing library resources in Custom Code Editor
  editor/src/clj/editor/app_view.clj
  editor/src/clj/editor/engine.clj
  editor/src/clj/editor/fs.clj
  editor/src/clj/editor/resource.clj
Labels: feature request, editor

#9151 Make sure that multifield values applied right
  editor/src/clj/editor/properties_view.clj
  editor/src/clj/editor/ui.clj
Labels: skip release notes

#9154 Use Gradle as the build system for Bob.jar
  .gitignore
  com.dynamo.cr/.idea/com.dynamo.cr.iml
  com.dynamo.cr/README.md
  com.dynamo.cr/com.dynamo.cr.bob.test/ant-logger-colors.txt
  com.dynamo.cr/com.dynamo.cr.bob.test/build.gradle
  com.dynamo.cr/com.dynamo.cr.bob.test/build.xml
  com.dynamo.cr/com.dynamo.cr.bob.test/gradle/wrapper/gradle-wrapper.jar
  com.dynamo.cr/com.dynamo.cr.bob.test/gradle/wrapper/gradle-wrapper.properties
  com.dynamo.cr/com.dynamo.cr.bob.test/gradlew
  com.dynamo.cr/com.dynamo.cr.bob.test/gradlew.bat
  com.dynamo.cr/com.dynamo.cr.bob.test/lib/ant-junit-1.10.7.jar
  com.dynamo.cr/com.dynamo.cr.bob.test/src/com/dynamo/bob/bundle/test/BundlerTest.java
  com.dynamo.cr/com.dynamo.cr.bob.test/src/com/dynamo/bob/pipeline/ShaderProgramBuilderTest.java
  com.dynamo.cr/com.dynamo.cr.bob/basic.gradle
  com.dynamo.cr/com.dynamo.cr.bob/build.gradle
  com.dynamo.cr/com.dynamo.cr.bob/build.xml
  com.dynamo.cr/com.dynamo.cr.bob/gradle/wrapper/gradle-wrapper.jar
  com.dynamo.cr/com.dynamo.cr.bob/gradle/wrapper/gradle-wrapper.properties
  com.dynamo.cr/com.dynamo.cr.bob/gradlew
  com.dynamo.cr/com.dynamo.cr.bob/gradlew.bat
  com.dynamo.cr/com.dynamo.cr.bob/src/com/dynamo/bob/bundle/AndroidBundler.java
  com.dynamo.cr/com.dynamo.cr.bob/src/com/dynamo/bob/font/BMFont.java
  com.dynamo.cr/com.dynamo.cr.common/build.gradle
  com.dynamo.cr/com.dynamo.cr.common/build.xml
  com.dynamo.cr/com.dynamo.cr.common/gradle/wrapper/gradle-wrapper.jar
  com.dynamo.cr/com.dynamo.cr.common/gradle/wrapper/gradle-wrapper.properties
  com.dynamo.cr/com.dynamo.cr.common/gradlew
  com.dynamo.cr/com.dynamo.cr.common/gradlew.bat
  com.dynamo.cr/com.dynamo.cr.iml
  packages/ant-1.8.4-common.tar.gz
  packages/ant-1.9.3-common.tar.gz
  scripts/build.py
Labels: bob

#9138 Add `tilemap.get_tiles()` function
  engine/engine/src/test/tile/coll.script
  engine/gamesys/src/gamesys/scripts/script_tilemap.cpp
Labels: feature request, engine, tilemap

#9162 Use code view when opening resources as text
  editor/.idea/codeStyles/Project.xml
  editor/src/clj/editor/app_view.clj
  editor/src/clj/editor/boot_open_project.clj
  editor/src/clj/editor/code/resource.clj
  editor/src/clj/editor/code/script.clj
  editor/src/clj/editor/code/shader.clj
  editor/src/clj/editor/code/view.clj
  editor/src/clj/editor/collection.clj
  editor/src/clj/editor/console.clj
  editor/src/clj/editor/defold_project.clj
  editor/src/clj/editor/game_object.clj
  editor/src/clj/editor/game_object_non_editable.clj
  editor/src/clj/editor/graph_util.clj
  editor/src/clj/editor/resource_node.clj
  editor/src/clj/editor/text.clj
  editor/src/clj/editor/types.clj
  editor/styling/stylesheets/modules/_console.scss
Labels: task, feature request, editor

#9170 Editor: Ensure correct numeric types in settings-based file formats
  editor/src/clj/editor/settings_core.clj
Labels: bug, editor, skip release notes

#9175 Better ux for tilemap editor
  editor/src/clj/editor/tile_map.clj
Labels: editor, tilemap, skip release notes

#9168 Better IDEa project + improved single test runner + removed old project files
  com.dynamo.cr/.idea/.gitignore
  com.dynamo.cr/.idea/com.dynamo.cr.iml
  com.dynamo.cr/.idea/misc.xml
  com.dynamo.cr/.idea/modules.xml
  com.dynamo.cr/.idea/vcs.xml
  com.dynamo.cr/README.md
  com.dynamo.cr/com.dynamo.cr.bob.test/.project
  com.dynamo.cr/com.dynamo.cr.bob.test/.settings/org.eclipse.jdt.core.prefs
  com.dynamo.cr/com.dynamo.cr.bob.test/META-INF/MANIFEST.MF
  com.dynamo.cr/com.dynamo.cr.bob.test/build.gradle
  com.dynamo.cr/com.dynamo.cr.bob.test/build.properties
  com.dynamo.cr/com.dynamo.cr.bob.test/pom.xml
  com.dynamo.cr/com.dynamo.cr.bob.test/src/com/dynamo/bob/bundle/test/MacOSBundlerTest.java
  com.dynamo.cr/com.dynamo.cr.bob.test/src/com/dynamo/bob/pipeline/AbstractProtoBuilderTest.java
  com.dynamo.cr/com.dynamo.cr.bob.test/src/com/dynamo/bob/pipeline/BundleResourcesTest.java
  com.dynamo.cr/com.dynamo.cr.bob/.externalToolBuilders/Compile Bob.launch
  com.dynamo.cr/com.dynamo.cr.bob/.project
  com.dynamo.cr/com.dynamo.cr.bob/.pydevproject
  com.dynamo.cr/com.dynamo.cr.bob/META-INF/MANIFEST.MF
  com.dynamo.cr/com.dynamo.cr.bob/build.gradle
  com.dynamo.cr/com.dynamo.cr.bob/build.properties
  com.dynamo.cr/com.dynamo.cr.bob/pom.xml
  com.dynamo.cr/com.dynamo.cr.common.test/.project
  com.dynamo.cr/com.dynamo.cr.common.test/.settings/org.eclipse.jdt.core.prefs
  com.dynamo.cr/com.dynamo.cr.common.test/.settings/org.eclipse.pde.core.prefs
  com.dynamo.cr/com.dynamo.cr.common.test/META-INF/MANIFEST.MF
  com.dynamo.cr/com.dynamo.cr.common.test/build.properties
  com.dynamo.cr/com.dynamo.cr.common.test/pom.xml
  com.dynamo.cr/com.dynamo.cr.common/.externalToolBuilders/Common Builder.launch
  com.dynamo.cr/com.dynamo.cr.common/.project
  com.dynamo.cr/com.dynamo.cr.common/.pydevproject
  com.dynamo.cr/com.dynamo.cr.common/.settings/de.loskutov.anyedit.AnyEditTools.prefs
  com.dynamo.cr/com.dynamo.cr.common/.settings/org.eclipse.jdt.core.prefs
  com.dynamo.cr/com.dynamo.cr.common/META-INF/MANIFEST.MF
  com.dynamo.cr/com.dynamo.cr.common/build.gradle
  com.dynamo.cr/com.dynamo.cr.common/build.properties
  com.dynamo.cr/com.dynamo.cr.common/pom.xml
  com.dynamo.cr/com.dynamo.cr.iml
  engine/modelc/src/java/com/dynamo/bob/pipeline/ModelImporter.java
  engine/texc/src/java/com/dynamo/bob/pipeline/TexcLibrary.java
Labels: skip release notes

#9184 Add missing documentation for `gui.PROP_LEADING` and `gui.PROP_TRACKING`
  engine/gui/src/gui_script.cpp
Labels: skip release notes

#9188 Fix bob build on windows
  com.dynamo.cr/com.dynamo.cr.bob/build.gradle
Labels: skip release notes

#9197 Fixed tilemap brush visibility
  editor/src/clj/editor/tile_map.clj
Labels: editor, tilemap

#9201 Fix issue when Alpha and Outline isn't taken into account in bundle
  com.dynamo.cr/com.dynamo.cr.bob/src/com/dynamo/bob/pipeline/GuiBuilder.java
Labels: skip release notes

#9124 Add platform sdks mappings. Add step to upload mappings to bucket.
  scripts/build.py
  share/platform.sdks.json
Labels: skip release notes

#9207 Recreate material when material resource is hot-reloaded
  engine/gamesys/src/gamesys/resources/res_material.cpp
Labels: engine, render

#9209 Use red color for the brush in tilemap if all the tiles in brush are nil
  editor/src/clj/editor/tile_map.clj
Labels: editor, skip release notes

#9216 Trigger window resize flow on GLFW3 when the window content scale changes
  engine/platform/src/platform_window_glfw3.cpp
Labels: task, engine, glfw

#9218 Migrate dynamic GUI textures to use resource system
  engine/gamesys/src/gamesys/components/comp_gui.cpp
  engine/gamesys/src/gamesys/gamesys_private.h
  engine/gamesys/src/gamesys/gamesys_resource.cpp
  engine/gamesys/src/gamesys/resources/res_gui.cpp
  engine/gamesys/src/gamesys/scripts/script_resource.cpp
  engine/gamesys/src/gamesys/test/test_gamesys.cpp
  engine/graphics/src/graphics.h
  engine/gui/src/dmsdk/gui/gui.h
  engine/gui/src/gui.cpp
  engine/gui/src/gui.h
  engine/gui/src/gui_null.cpp
  engine/gui/src/gui_private.h
  engine/gui/src/gui_script.cpp
  engine/gui/src/test/test_gui.cpp
  engine/gui/src/test/test_gui_script.cpp
  engine/gui/src/test/test_gui_shared.h
Labels: task, engine, gui

#9223 Remove timer callback if timer freed prematurely
  engine/script/src/script_timer.cpp
Labels: bug, engine, lua

#9231 Make non-standard OpenGL functions optional on windows
  engine/graphics/src/opengl/graphics_opengl.cpp
Labels: bug, engine
