Repository defold/defold, pull requests merged in 2025-05, with the labels that each got.

#10529 Updating volume and panning handling for sound system
  com.dynamo.cr/com.dynamo.cr.bob/src/com/dynamo/bob/meta.properties
  editor/resources/meta.edn
  editor/test/resources/save_data_project/game.project
  engine/gamesys/src/gamesys/scripts/script_sound.cpp
  engine/sound/src/sound.cpp
  engine/sound/src/sound.h
  engine/sound/src/sound_private.h
  engine/sound/src/test/test_sound.cpp
Labels: engine, sound

#10610 Don’t apply Model material assignments unless fully-formed
  editor/src/clj/editor/model.clj
  editor/src/clj/editor/model_scene.clj
Labels: bug, editor, model

#10626 Faster atlas creation
  com.dynamo.cr/com.dynamo.cr.bob/src/com/dynamo/bob/textureset/MaxRectsLayoutStrategy.java
  com.dynamo.cr/com.dynamo.cr.bob/src/com/dynamo/bob/util/TextureUtil.java
Labels: bob, atlas, performance

#10637 Fix incorrect API docs for some resource and model functions
  engine/gamesys/src/gamesys/scripts/script_model.cpp
  engine/gamesys/src/gamesys/scripts/script_resource.cpp
Labels: skip release notes

#10635 Improve Scene View error experience
  com.dynamo.cr/com.dynamo.cr.bob/src/com/dynamo/bob/pipeline/ShaderProgramBuilderEditor.java
  editor/.idea/ClojureProjectResolveSettings.xml
  editor/resources/scene-view.fxml
  editor/src/clj/editor/app_view.clj
  editor/src/clj/editor/atlas.clj
  editor/src/clj/editor/buffers.clj
  editor/src/clj/editor/code/shader.clj
  editor/src/clj/editor/code/shader_compilation.clj
  editor/src/clj/editor/compute.clj
  editor/src/clj/editor/gl.clj
  editor/src/clj/editor/gl/buffer.clj
  editor/src/clj/editor/gl/pass.clj
  editor/src/clj/editor/gl/shader.clj
  editor/src/clj/editor/gl/texture.clj
  editor/src/clj/editor/gl/vertex.clj
  editor/src/clj/editor/gl/vertex2.clj
  editor/src/clj/editor/graphics.clj
  editor/src/clj/editor/material.clj
  editor/src/clj/editor/model_scene.clj
  editor/src/clj/editor/particle_lib.clj
  editor/src/clj/editor/particlefx.clj
  editor/src/clj/editor/pipeline/shader_gen.clj
  editor/src/clj/editor/rulers.clj
  editor/src/clj/editor/scene.clj
  editor/src/clj/editor/scene_cache.clj
  editor/src/clj/editor/sprite.clj
  editor/src/clj/editor/texture/engine.clj
  editor/src/clj/editor/volatile_cache.clj
  editor/src/clj/internal/java.clj
  editor/src/clj/util/array.clj
  editor/src/clj/util/coll.clj
  editor/src/clj/util/defonce.clj
  editor/src/dev/dev.clj
  editor/styling/stylesheets/editor.sass
  editor/styling/stylesheets/modules/_scene-view.scss
  editor/styling/stylesheets/modules/_toolbar.scss
  editor/tasks/leiningen/pack.clj
  editor/test/editor/buffers_test.clj
  editor/test/integration/collada_scene_test.clj
  editor/test/integration/label_test.clj
  editor/test/integration/model_scene_test.clj
  editor/test/util/array_test.clj
  editor/test/util/defonce_test.clj
Labels: task, editor

#10640 Reverted back missed flags for wasm pthread target
  build_tools/waf_dynamo.py
Labels: skip release notes

#10663 Added function dmGameSys::ResFontSetLineHeight() to set font line height for dynamic fonts
  engine/gamesys/src/dmsdk/gamesys/resources/res_font.h
  engine/gamesys/src/gamesys/resources/res_font.cpp
  engine/render/src/render/font.cpp
  engine/render/src/render/font.h
Labels: engine, font

#10672 Fixing up html5 audio outpput to correctly pass data into browser audio buffers
  engine/sound/src/js/library_sound.js
Labels: sound, html5

#10647 Add MSAA support to DX12
  engine/graphics/src/dx12/graphics_dx12.cpp
  engine/graphics/src/dx12/graphics_dx12_private.h
Labels: skip release notes

#10696 Take page offset into account when calculating the absolute position of the pivot handle
  editor/src/clj/editor/atlas.clj
Labels: editor

#10701 Introduce property drag handle
  editor/src/clj/editor/properties_view.clj
  editor/styling/stylesheets/components/_color-picker.scss
  editor/styling/stylesheets/modules/_properties.scss
  editor/test/integration/test_util.clj
Labels: editor

#10681 Support texture arrays in dx12
  engine/graphics/src/dx12/graphics_dx12.cpp
  engine/graphics/src/dx12/graphics_dx12_private.h
  engine/graphics/src/graphics.cpp
  engine/graphics/src/graphics.h
  engine/render/src/render/program_utils.cpp
  engine/render/src/render/render.cpp
Labels: skip release notes
