Repository defold/defold, pull requests merged in 2025-02, with the labels that each got.

#10148 Fallback to supported uncompressed format when no compression is requested
  com.dynamo.cr/com.dynamo.cr.bob/src/com/dynamo/bob/pipeline/TextureGenerator.java
Labels: skip release notes

#10129 Fix mouse scroll regression from GLFW update
  engine/hid/src/dmsdk/hid/hid.h
  engine/hid/src/native/hid_native.cpp
  engine/input/src/input.cpp
  engine/platform/src/platform_window_glfw3.cpp
Labels: engine, input, glfw

#10149 Fix exception when pasting named resources inside Gui scenes
  editor/project.clj
  editor/src/clj/editor/gui.clj
  editor/test/integration/gui_test.clj
  editor/test/integration/test_util.clj
Labels: bug, editor

#10154 Strip brackets from opengl
  engine/graphics/src/opengl/graphics_opengl.cpp
Labels: skip release notes

#10155 Fix single separator issue on toolbar
  editor/src/clj/editor/ui.clj
Labels: skip release notes

#10160 Fix some warnings during editor tests
  editor/project.clj
  editor/test/resources/save_data_project/referenced/spine/squirrel.spinejson
Labels: task, editor, skip release notes

#10162 Insert shader sources if no crosscompiling required
  com.dynamo.cr/com.dynamo.cr.bob.test/src/com/dynamo/bob/pipeline/ShaderProgramBuilderTest.java
  com.dynamo.cr/com.dynamo.cr.bob/src/com/dynamo/bob/pipeline/shader/ShaderCompilePipeline.java
  engine/engine/content/builtins/materials/model.fp
Labels: skip release notes

#10176 Fix initial position of visibility toggle
  editor/src/clj/editor/outline_view.clj
Labels: skip release notes

#10185 Include material textures in instancing hash
  engine/gamesys/src/gamesys/components/comp_model.cpp
Labels: skip release notes

#10199 Set graphics API for the OpenGL view on iOS
  external/glfw/lib/ios/app/EAGLView.m
  packages/glfw-2.7.1-arm64-ios.tar.gz
  packages/glfw-2.7.1-x86_64-ios.tar.gz
Labels: engine, ios, glfw

#10213 Make sure each sampler is present only once when binding textures to samplers with hashes in render scripts
  engine/render/src/render/render.cpp
  engine/render/src/test/test_render.cpp
Labels: bug, engine, render

#10224 Use shader version 330 as default for desktop platforms
  com.dynamo.cr/com.dynamo.cr.bob.test/src/com/dynamo/bob/pipeline/ShaderCompilePipelineTest.java
  com.dynamo.cr/com.dynamo.cr.bob.test/src/com/dynamo/bob/pipeline/ShaderProgramBuilderTest.java
  com.dynamo.cr/com.dynamo.cr.bob/src/com/dynamo/bob/pipeline/ShaderCompilers.java
  com.dynamo.cr/com.dynamo.cr.bob/src/com/dynamo/bob/pipeline/ShaderProgramBuilder.java
  com.dynamo.cr/com.dynamo.cr.bob/src/com/dynamo/bob/pipeline/ShaderUtil.java
  com.dynamo.cr/com.dynamo.cr.bob/src/com/dynamo/bob/pipeline/shader/ShaderCompilePipeline.java
  editor/src/clj/editor/code/shader.clj
  engine/graphics/proto/graphics/graphics_ddf.proto
  engine/graphics/src/graphics.cpp
  engine/graphics/src/null/graphics_null.cpp
  engine/graphics/src/opengl/graphics_opengl.cpp
  engine/graphics/src/test/test_graphics.cpp
  engine/render/src/test/test_render.cpp
  engine/render/src/test/test_render_programs.cpp
  engine/render/src/test/test_render_script.cpp
Labels: engine, graphics, opengl

#10231 Update properties on label drag
  editor/src/clj/editor/atlas.clj
  editor/src/clj/editor/gui.clj
  editor/src/clj/editor/properties_view.clj
  editor/src/clj/editor/scene.clj
  editor/styling/stylesheets/modules/_properties.scss
Labels: editor

#10251 Fix for compiling incorrect shaders via Shaderc
  engine/shaderc/src/shaderc_spvc.cpp
Labels: skip release notes

#10262 Fix a memory leak when using tables in render constants
  engine/render/src/render/render_script.cpp
  engine/render/src/test/test_render_script.cpp
Labels: engine, render

#10265 Recreate the underlying depthstencil and intermediate colortexture up…
  engine/graphics/src/webgpu/graphics_webgpu.cpp
Labels: skip release notes

#10240 Add a wrapper api for our profiler properties
  engine/dlib/src/dlib/message.cpp
  engine/dlib/src/dlib/profile/profile_null.cpp
  engine/dlib/src/dlib/profile/profile_remotery.cpp
  engine/dlib/src/dmsdk/dlib/profile.h
  engine/dlib/src/test/test_profile.cpp
  engine/engine/src/engine.cpp
  engine/gameobject/src/gameobject/comp_anim.cpp
  engine/gameobject/src/gameobject/comp_script.cpp
  engine/gameobject/src/gameobject/gameobject.cpp
  engine/gamesys/src/gamesys/components/box2d/comp_collision_object_box2d.cpp
  engine/gamesys/src/gamesys/components/bullet3d/comp_collision_object_bullet3d.cpp
  engine/gamesys/src/gamesys/components/comp_camera.cpp
  engine/gamesys/src/gamesys/components/comp_collection_factory.cpp
  engine/gamesys/src/gamesys/components/comp_collection_proxy.cpp
  engine/gamesys/src/gamesys/components/comp_factory.cpp
  engine/gamesys/src/gamesys/components/comp_gui.cpp
  engine/gamesys/src/gamesys/components/comp_label.cpp
  engine/gamesys/src/gamesys/components/comp_mesh.cpp
  engine/gamesys/src/gamesys/components/comp_model.cpp
  engine/gamesys/src/gamesys/components/comp_particlefx.cpp
  engine/gamesys/src/gamesys/components/comp_sound.cpp
  engine/gamesys/src/gamesys/components/comp_sprite.cpp
  engine/gamesys/src/gamesys/components/comp_tilegrid.cpp
  engine/gamesys/src/gamesys/gamesys.cpp
  engine/graphics/src/graphics.cpp
  engine/gui/src/gui.cpp
  engine/particle/src/particle.cpp
  engine/profiler/src/profiler.cpp
  engine/profiler/src/profiler_android.cpp
  engine/render/src/render/font_renderer.cpp
  engine/render/src/render/render.cpp
  engine/resource/src/resource.cpp
  engine/script/src/script.cpp
  engine/script/src/script_timer.cpp
Labels: engine, profiler, breaking change

#10241 Make color fields editable
  editor/src/clj/editor/properties_view.clj
  editor/styling/stylesheets/components/_color-picker.scss
  editor/test/integration/property_type_preservation_test.clj
Labels: editor
