Repository defold/defold, pull requests merged in 2025-04, with the labels that each got.

#10418 Sparse node property assignments
  editor/project.clj
  editor/src/clj/dynamo/graph.clj
  editor/src/clj/editor/graph_util.clj
  editor/src/clj/editor/gui.clj
  editor/src/clj/internal/graph/types.clj
  editor/src/clj/internal/node.clj
  editor/src/clj/internal/transaction.clj
  editor/test/internal/defnode_test.clj
  editor/test/internal/node_test.clj
Labels: task, editor, skip release notes

#10424 Correctly apply Gui template rotation to imported nodes when building
  editor/src/clj/editor/gui.clj
Labels: bug, editor, gui

#10416 Fix script property label drag
  editor/src/clj/editor/properties_view.clj
Labels: skip release notes

#10434 Remove some unrealized sequences from the graph and elsewhere
  editor/src/clj/editor/atlas.clj
  editor/src/clj/editor/collection_non_editable.clj
  editor/src/clj/editor/game_object_non_editable.clj
  editor/src/clj/editor/gui.clj
  editor/src/clj/editor/pipeline.clj
  editor/src/clj/editor/scene_shapes.clj
  editor/src/clj/internal/history.clj
  editor/src/clj/util/eduction.clj
  editor/test/util/eduction_test.clj
Labels: task, editor, skip release notes, memory

#10369 Debug source paths
  build_tools/BuildUtility.py
  build_tools/build_constants.py
  build_tools/waf_dynamo.py
  engine/crash/wscript
  engine/engine/wscript
  engine/gamesys/wscript
  engine/graphics/wscript
  engine/gui/wscript
  engine/input/wscript
  engine/jni/wscript
  engine/modelc/wscript
  engine/particle/wscript
  engine/profiler/wscript
  engine/render/wscript
  engine/rig/wscript
  engine/script/wscript
  engine/sdk/wscript
  engine/tools/wscript
Labels: skip release notes

#10433 Introduce global console filtering toggle
  editor/src/clj/editor/console.clj
  editor/src/clj/editor/prefs.clj
  editor/styling/stylesheets/modules/_console.scss
Labels: editor

#10542 Use correct exception constructor when bob java threads fail
  com.dynamo.cr/com.dynamo.cr.bob/src/com/dynamo/bob/Project.java
Labels: bob

#10550 Fix toolbar visibility
  editor/src/clj/editor/ui.clj
Labels: skip release notes

#10561 Fix initial document-width calculation for tab-indented code files
  editor/src/clj/editor/code/view.clj
Labels: bug, editor, text-editor

#10583 Added texture size=0 fixes for webgpu
  engine/gamesys/src/gamesys/components/comp_gui.cpp
  engine/graphics/src/webgpu/graphics_webgpu.cpp
  engine/render/src/render/font.cpp
Labels: engine, webgpu

#10592 Default to no wasm simd on HTML5
  build_tools/waf_dynamo.py
  engine/dlib/src/dlib/js/library_sys.js
  engine/engine/wscript
  engine/sound/src/devices/device_js.cpp
  engine/sound/src/sound_dsp.h
  engine/sound/src/test/wscript
  engine/sound/src/wscript
  packages/box2d_defold-2.2.1-wasm-web.tar.gz
  share/extender/build_input.yml
Labels: engine, sound, html5

#10522 Render convex hull collision shape
  editor/src/clj/editor/collision_groups.clj
  editor/src/clj/editor/collision_object.clj
Labels: editor
