Repository defold/defold, pull requests merged in 2025-01, with the labels that each got.

#9979 Add `astcenc` for Linux ARM64
  packages/astcenc-8b0aa01-arm64-linux.tar.gz
  scripts/build.py
  share/ext/astcenc/build_astcenc.sh
Labels: skip release notes

#10005 Remove SHA1 cache on resource level, because it works on file system level
  com.dynamo.cr/com.dynamo.cr.bob.test/src/com/dynamo/bob/test/util/MockResource.java
  com.dynamo.cr/com.dynamo.cr.bob/src/com/dynamo/bob/Task.java
  com.dynamo.cr/com.dynamo.cr.bob/src/com/dynamo/bob/fs/AbstractResource.java
  com.dynamo.cr/com.dynamo.cr.bob/src/com/dynamo/bob/fs/DefaultResource.java
  com.dynamo.cr/com.dynamo.cr.bob/src/com/dynamo/bob/fs/FileSystemMountPoint.java
  com.dynamo.cr/com.dynamo.cr.bob/src/com/dynamo/bob/fs/IResource.java
  com.dynamo.cr/com.dynamo.cr.bob/src/com/dynamo/bob/fs/ZipMountPoint.java
  com.dynamo.cr/com.dynamo.cr.bob/src/com/dynamo/bob/pipeline/ExtenderUtil.java
Labels: skip release notes

#10000 Remove argument to --tc
  com.dynamo.cr/com.dynamo.cr.bob.test/src/com/dynamo/bob/util/TimeProfilerTest.java
  com.dynamo.cr/com.dynamo.cr.bob/src/com/dynamo/bob/Bob.java
  editor/src/clj/editor/pipeline/bob.clj
Labels: bob

#10013 Fix windows app icon
  engine/platform/src/platform_window_glfw3.cpp
  engine/platform/src/platform_window_glfw3_linux.cpp
  engine/platform/src/platform_window_glfw3_osx.cpp
  engine/platform/src/platform_window_glfw3_private.h
  engine/platform/src/platform_window_glfw3_win32.cpp
Labels: engine, windows, glfw

#10014 Repeat the editor notirize process if it fails (up to 3 times)
  editor/scripts/notarize.py
Labels: skip release notes

#10015 Detect python in gradle script
  com.dynamo.cr/com.dynamo.cr.bob/basic.gradle
  com.dynamo.cr/com.dynamo.cr.bob/build.gradle
Labels: skip release notes

#10019 Added a crash fix for closing the tremolo stream
  engine/sound/src/decoders/decoder_tremolo.cpp
  engine/sound/src/sound.cpp
  engine/sound/src/sound.h
Labels: engine, sound, skip release notes

#10020 Unified load_queue implementations to use the same LoadResource function
  engine/resource/src/async/load_queue.cpp
  engine/resource/src/async/load_queue_private.h
  engine/resource/src/async/load_queue_sync.cpp
  engine/resource/src/async/load_queue_threaded.cpp
  engine/resource/src/resource.cpp
  engine/resource/src/resource_chunk_cache.cpp
  engine/resource/src/resource_private.h
  engine/resource/src/wscript
Labels: engine, sound, skip release notes

#10021 Avoid rare build crashes in TimeProfiler
  com.dynamo.cr/com.dynamo.cr.bob/src/com/dynamo/bob/util/TimeProfiler.java
Labels: skip release notes

#10031 Add META-INF folder copy during Android bundling
  com.dynamo.cr/com.dynamo.cr.bob/src/com/dynamo/bob/bundle/AndroidBundler.java
Labels: extender, bob, android, pipeline

#10022 Use new texture compression setup in texture profiles view
  com.dynamo.cr/com.dynamo.cr.bob.test/src/com/dynamo/bob/pipeline/TestTextureCompressor.java
  com.dynamo.cr/com.dynamo.cr.bob.test/src/com/dynamo/bob/pipeline/TextureCompressorTest.java
  com.dynamo.cr/com.dynamo.cr.bob/src/com/defold/extension/pipeline/texture/ITextureCompressor.java
  com.dynamo.cr/com.dynamo.cr.bob/src/com/defold/extension/pipeline/texture/TextureCompression.java
  com.dynamo.cr/com.dynamo.cr.bob/src/com/defold/extension/pipeline/texture/TextureCompressorASTC.java
  com.dynamo.cr/com.dynamo.cr.bob/src/com/defold/extension/pipeline/texture/TextureCompressorBasisU.java
  com.dynamo.cr/com.dynamo.cr.bob/src/com/defold/extension/pipeline/texture/TextureCompressorUncompressed.java
  com.dynamo.cr/com.dynamo.cr.bob/src/com/dynamo/bob/pipeline/TextureGenerator.java
  editor/src/clj/editor/pipeline/tex_gen.clj
  editor/src/clj/editor/protobuf_forms.clj
  editor/src/clj/editor/protobuf_types.clj
  editor/test/integration/save_data_test.clj
  editor/test/resources/save_data_project/silently_migrated/legacy_texture_profile_formats.texture_profiles
  engine/gamesys/src/gamesys/resources/res_texture.cpp
  engine/graphics/proto/graphics/graphics_ddf.proto
  engine/graphics/src/dmsdk/graphics/graphics.h
  engine/graphics/src/graphics.cpp
  engine/graphics/src/opengl/graphics_opengl.cpp
  engine/graphics/src/vulkan/graphics_vulkan.cpp
  engine/graphics/src/webgpu/graphics_webgpu.cpp
Labels: feature request, editor, bob

#10042 Disable archive compression of sound files when using sound streaming
  com.dynamo.cr/com.dynamo.cr.bob/src/com/dynamo/bob/pipeline/CopyBuilders.java
  com.dynamo.cr/com.dynamo.cr.bob/src/com/dynamo/bob/pipeline/GameProjectBuilder.java
  com.dynamo.cr/com.dynamo.cr.bob/src/com/dynamo/bob/pipeline/OggBuilder.java
  engine/gamesys/src/gamesys/resources/res_sound_data.cpp
  engine/gamesys/src/gamesys/test/resource/create_sound_data.script
  engine/resource/src/resource_chunk_cache.cpp
  scripts/unpack_arc.py
Labels: skip release notes

#9950 Append raw texture data after protobuf header
  com.dynamo.cr/com.dynamo.cr.bob.test/src/com/dynamo/bob/pipeline/AtlasBuilderTest.java
  com.dynamo.cr/com.dynamo.cr.bob.test/src/com/dynamo/bob/pipeline/ParseUtil.java
  com.dynamo.cr/com.dynamo.cr.bob.test/src/com/dynamo/bob/pipeline/TextureGeneratorTest.java
  com.dynamo.cr/com.dynamo.cr.bob.test/src/com/dynamo/bob/test/util/MockResource.java
  com.dynamo.cr/com.dynamo.cr.bob/src/com/dynamo/bob/fs/ClassLoaderMountPoint.java
  com.dynamo.cr/com.dynamo.cr.bob/src/com/dynamo/bob/fs/DefaultResource.java
  com.dynamo.cr/com.dynamo.cr.bob/src/com/dynamo/bob/fs/FileSystemMountPoint.java
  com.dynamo.cr/com.dynamo.cr.bob/src/com/dynamo/bob/fs/IResource.java
  com.dynamo.cr/com.dynamo.cr.bob/src/com/dynamo/bob/fs/ZipMountPoint.java
  com.dynamo.cr/com.dynamo.cr.bob/src/com/dynamo/bob/pipeline/AtlasBuilder.java
  com.dynamo.cr/com.dynamo.cr.bob/src/com/dynamo/bob/pipeline/CubemapBuilder.java
  com.dynamo.cr/com.dynamo.cr.bob/src/com/dynamo/bob/pipeline/ExtenderUtil.java
  com.dynamo.cr/com.dynamo.cr.bob/src/com/dynamo/bob/pipeline/TextureBuilder.java
  com.dynamo.cr/com.dynamo.cr.bob/src/com/dynamo/bob/pipeline/TextureGenerator.java
  com.dynamo.cr/com.dynamo.cr.bob/src/com/dynamo/bob/pipeline/TileSetBuilder.java
  com.dynamo.cr/com.dynamo.cr.bob/src/com/dynamo/bob/tile/TileSetc.java
  com.dynamo.cr/com.dynamo.cr.bob/src/com/dynamo/bob/util/MiscUtil.java
  com.dynamo.cr/com.dynamo.cr.bob/src/com/dynamo/bob/util/TextureUtil.java
  editor/project.clj
  editor/src/clj/editor/atlas.clj
  editor/src/clj/editor/cubemap.clj
  editor/src/clj/editor/gl/texture.clj
  editor/src/clj/editor/image.clj
  editor/src/clj/editor/pipeline.clj
  editor/src/clj/editor/pipeline/tex_gen.clj
  editor/src/dev/dev.clj
  editor/test/editor/pipeline/tex_gen_test.clj
  editor/test/integration/build_test.clj
  editor/test/integration/extension_texturepacker_test.clj
  editor/test/resources/build_project/SideScroller/cubemap/cubemap.cubemap
  editor/test/resources/build_project/SideScroller/cubemap/cubemap.model
  editor/test/resources/build_project/SideScroller/cubemap/cubemap_back.png
  editor/test/resources/build_project/SideScroller/cubemap/cubemap_bottom.png
  editor/test/resources/build_project/SideScroller/cubemap/cubemap_front.png
  editor/test/resources/build_project/SideScroller/cubemap/cubemap_left.png
  editor/test/resources/build_project/SideScroller/cubemap/cubemap_right.png
  editor/test/resources/build_project/SideScroller/cubemap/cubemap_top.png
  editor/test/resources/build_project/SideScroller/main/main.go
  editor/test/resources/build_project/SideScroller/model/book_of_defold.model
  editor/test/resources/build_project/SideScroller/model/book_of_defold_no_tex.model
  editor/test/resources/save_data_project/checked.tpinfo
  engine/gamesys/src/gamesys/gamesys_private.h
  engine/gamesys/src/gamesys/gamesys_resource.cpp
  engine/gamesys/src/gamesys/resources/res_render_target.cpp
  engine/gamesys/src/gamesys/resources/res_texture.cpp
  engine/gamesys/src/gamesys/scripts/script_resource.cpp
  engine/gamesys/src/gamesys/test/create_prebuilts.sh
  engine/gamesys/src/gamesys/test/resource/set_texture.script
  engine/graphics/proto/graphics/graphics_ddf.proto
  engine/graphics/src/graphics.h
  engine/graphics/src/transcoder/graphics_transcoder_basisu.cpp
  engine/graphics/src/transcoder/graphics_transcoder_null.cpp
Labels: task, engine, atlas

#10052 Bundling from the editor no longer invalidates build information
  editor/resources/prelude.lua
Labels: editor

#10048 Add remapping of SPIR-v resources to dmShaderc
  com.dynamo.cr/com.dynamo.cr.bob.test/src/com/dynamo/bob/pipeline/ShaderProgramBuilderTest.java
  com.dynamo.cr/com.dynamo.cr.bob.test/test/bindings.spv
  engine/shaderc/src/java/com/dynamo/bob/pipeline/Shaderc.java
  engine/shaderc/src/java/com/dynamo/bob/pipeline/ShadercJni.java
  engine/shaderc/src/jni/Shaderc_jni.cpp
  engine/shaderc/src/jni/Shaderc_jni.h
  engine/shaderc/src/shaderc.cpp
  engine/shaderc/src/shaderc.h
  engine/shaderc/src/shaderc_jni.cpp
  engine/shaderc/src/shaderc_private.h
  engine/shaderc/src/shaderc_spirv.cpp
  engine/shaderc/src/shaderc_spvc.cpp
  engine/shaderc/src/test/test_shaderc.cpp
Labels: skip release notes

#10069 Fixed issue when the decoded sound sometimes wasn't mixed into the ouput buffer
  engine/sound/src/devices/device_wasapi.cpp
  engine/sound/src/sound.cpp
Labels: engine, sound

#10061 Editor profiling helpers
  editor/.idea/codeStyles/Project.xml
  editor/src/clj/util/debug_util.clj
  editor/src/dev/load_project.clj
  editor/src/dev/yourkit.clj
Labels: task, editor, skip release notes, performance, memory

#10091 Added liveupdate.is_built_with_excluded_files()
  engine/liveupdate/src/liveupdate.cpp
  engine/liveupdate/src/liveupdate.h
  engine/liveupdate/src/script_liveupdate.cpp
  engine/resource/src/resource_manifest.cpp
  engine/resource/src/resource_manifest.h
  engine/resource/src/test/test_resource_archive.cpp
  engine/resource/src/test/wscript
Labels: engine, live update

#10099 Disable change tracking for initial project load transactions
  editor/src/clj/dynamo/graph.clj
  editor/src/clj/editor/defold_project.clj
  editor/src/clj/editor/lsp/async.clj
  editor/src/clj/internal/graph.clj
  editor/src/clj/internal/system.clj
  editor/src/clj/internal/transaction.clj
  editor/src/clj/util/debug_util.clj
  editor/src/dev/load_project.clj
  editor/test/editor/protobuf_types_test.clj
  editor/test/integration/editor_extensions_test.clj
  editor/test/integration/scope_test.clj
  editor/test/integration/test_util.clj
Labels: task, editor, performance, memory

#10100 Directx12 initial work
  build_tools/waf_dynamo.py
  com.dynamo.cr/com.dynamo.cr.bob.test/src/com/dynamo/bob/pipeline/ShaderProgramBuilderTest.java
  com.dynamo.cr/com.dynamo.cr.bob/src/com/dynamo/bob/Bob.java
  com.dynamo.cr/com.dynamo.cr.bob/src/com/dynamo/bob/Project.java
  com.dynamo.cr/com.dynamo.cr.bob/src/com/dynamo/bob/pipeline/IShaderCompiler.java
  com.dynamo.cr/com.dynamo.cr.bob/src/com/dynamo/bob/pipeline/ShaderCompilers.java
  com.dynamo.cr/com.dynamo.cr.bob/src/com/dynamo/bob/pipeline/ShaderProgramBuilder.java
  com.dynamo.cr/com.dynamo.cr.bob/src/com/dynamo/bob/pipeline/shader/ShaderCompilePipeline.java
  com.dynamo.cr/com.dynamo.cr.bob/src/com/dynamo/bob/pipeline/shader/ShaderCompilePipelineLegacy.java
  engine/engine/content/builtins/connect/connect.collection
  engine/engine/src/engine.cpp
  engine/engine/src/wscript
  engine/engine/wscript
  engine/graphics/proto/graphics/graphics_ddf.proto
  engine/graphics/src/dx12/graphics_dx12.cpp
  engine/graphics/src/dx12/graphics_dx12_private.h
  engine/graphics/src/graphics.cpp
  engine/graphics/src/graphics.h
  engine/graphics/src/graphics_private.h
  engine/graphics/src/null/graphics_null.cpp
  engine/graphics/src/opengl/graphics_opengl.cpp
  engine/graphics/src/test/test_app_graphics.cpp
  engine/graphics/src/test/wscript
  engine/graphics/src/vulkan/graphics_vulkan.cpp
  engine/graphics/src/vulkan/graphics_vulkan_private.h
  engine/graphics/src/webgpu/graphics_webgpu.cpp
  engine/graphics/src/wscript
  engine/platform/src/platform_window.h
  engine/platform/src/platform_window_glfw.cpp
  engine/platform/src/platform_window_glfw3.cpp
  engine/shaderc/src/shaderc_spvc.cpp
  packages/directx-headers-1.611.0-win32.tar.gz
  packages/directx-headers-1.611.0-x86_64-win32.tar.gz
  scripts/build.py
  share/ext/directx/build_directx.sh
Labels: engine, bob, graphics, directx12

#10105 Rework xcode toolchain packaging script
  engine/modelc/scripts/test_model_importer.sh
  engine/texc/scripts/test_texture_compiler.sh
  scripts/build.py
  scripts/mobile/ios-repack.sh
  scripts/package/README.md
  scripts/package/package_xcode_and_sdks.sh
  share/ext/common.sh
Labels: skip release notes

#10122 Use a single thread for zip archive creation
  com.dynamo.cr/com.dynamo.cr.bob/src/com/dynamo/bob/archive/ArchiveBuilder.java
Labels: skip release notes

#10109 Migrate builtin shaders to the new shader pipeline
  engine/engine/content/builtins/fonts/font-df-ms-singlelayer.fp
  engine/engine/content/builtins/fonts/font-df-ms.fp
  engine/engine/content/builtins/fonts/font-df-singlelayer.fp
  engine/engine/content/builtins/fonts/font-df.fp
  engine/engine/content/builtins/fonts/font-df.vp
  engine/engine/content/builtins/fonts/font-fnt.fp
  engine/engine/content/builtins/fonts/font-fnt.vp
  engine/engine/content/builtins/fonts/font-singlelayer.fp
  engine/engine/content/builtins/fonts/font.fp
  engine/engine/content/builtins/fonts/font.vp
  engine/engine/content/builtins/materials/gui.fp
  engine/engine/content/builtins/materials/gui.vp
  engine/engine/content/builtins/materials/gui_paged_atlas.fp
  engine/engine/content/builtins/materials/gui_paged_atlas.vp
  engine/engine/content/builtins/materials/model.fp
  engine/engine/content/builtins/materials/model.vp
  engine/engine/content/builtins/materials/model_instanced.vp
  engine/engine/content/builtins/materials/particlefx.fp
  engine/engine/content/builtins/materials/particlefx.vp
  engine/engine/content/builtins/materials/particlefx_paged_atlas.fp
  engine/engine/content/builtins/materials/particlefx_paged_atlas.vp
  engine/engine/content/builtins/materials/sprite.fp
  engine/engine/content/builtins/materials/sprite.vp
  engine/engine/content/builtins/materials/sprite_paged_atlas.fp
  engine/engine/content/builtins/materials/sprite_paged_atlas.vp
  engine/engine/content/builtins/materials/tile_map.fp
  engine/engine/content/builtins/materials/tile_map.vp
  engine/engine/content/materials/debug.fp
  engine/engine/content/materials/debug.vp
  engine/shaderc/src/shaderc_spvc.cpp
  engine/shaderc/src/test/test_shaderc.cpp
Labels: engine, graphics, shader

#10125 Fix issue with concurrent HashMap usage
  com.dynamo.cr/com.dynamo.cr.bob/src/com/dynamo/bob/fs/DefaultFileSystem.java
Labels: skip release notes

#10134 Use the m_DataSize if passed in since we will not have correct comput…
  engine/graphics/src/webgpu/graphics_webgpu.cpp
Labels: skip release notes
