Repository defold/defold, pull requests merged in 2025-06, with the labels that each got.

#10749 Refactor mutex locking in Null adapter
  engine/graphics/src/null/graphics_null.cpp
Labels: skip release notes

#10776 Fix crashes in `sys.load()` when trying to load corrupt files
  engine/script/src/script_table.cpp
  engine/script/src/test/test_script_table.cpp
Labels: breaking change

#10768 Introduce code view context menu
  editor/src/clj/editor/code/data.clj
  editor/src/clj/editor/code/view.clj
Labels: editor

#10837 Editor: Added functions for modifying specific GuiNode layouts
  editor/src/clj/dynamo/graph.clj
  editor/src/clj/editor/gui.clj
Labels: task, editor, skip release notes

#10800 Moved PropertyContainerCreateFromLua() to dmsdk
  engine/gameobject/src/dmsdk/gameobject/script.h
  engine/gameobject/src/gameobject/gameobject_props_lua.cpp
  engine/gameobject/src/gameobject/gameobject_props_lua.h
Labels: engine, dmsdk

#10679 Added support for spawning from collectionfactory components in dmsdk.
  engine/gameobject/src/dmsdk/gameobject/gameobject.h
  engine/gameobject/src/gameobject/gameobject.cpp
  engine/gameobject/src/gameobject/gameobject.h
  engine/gameobject/src/gameobject/test/collection/test_gameobject_collection.cpp
  engine/gamesys/src/dmsdk/gamesys/components/comp_collection_factory.h
  engine/gamesys/src/dmsdk/gamesys/components/comp_factory.h
  engine/gamesys/src/gamesys/components/comp_collection_factory.cpp
  engine/gamesys/src/gamesys/components/comp_collection_factory.h
  engine/gamesys/src/gamesys/components/comp_factory.cpp
  engine/gamesys/src/gamesys/scripts/script_collection_factory.cpp
  engine/gamesys/src/gamesys/scripts/script_factory.cpp
Labels: engine, dmsdk

#10888 Don't use `.` and `(` as completion auto-commit characters
  editor/src/clj/editor/code/script.clj
  editor/src/clj/editor/code/view.clj
Labels: editor

#10878 Pull up or push down property overrides in the editor
  editor/.idea/codeStyles/Project.xml
  editor/project.clj
  editor/resources/icons/32/Icons_62-Pull-Up-Override.png
  editor/resources/icons/32/Icons_63-Push-Down-Override.png
  editor/resources/icons/svg_icons.html
  editor/src/clj/dynamo/graph.clj
  editor/src/clj/editor/app_view.clj
  editor/src/clj/editor/asset_browser.clj
  editor/src/clj/editor/changes_view.clj
  editor/src/clj/editor/code/resource.clj
  editor/src/clj/editor/code/script.clj
  editor/src/clj/editor/code/transpilers.clj
  editor/src/clj/editor/collection.clj
  editor/src/clj/editor/collision_object.clj
  editor/src/clj/editor/debug_view.clj
  editor/src/clj/editor/fxui.clj
  editor/src/clj/editor/game_object.clj
  editor/src/clj/editor/graph_util.clj
  editor/src/clj/editor/gui.clj
  editor/src/clj/editor/handler.clj
  editor/src/clj/editor/menu_items.clj
  editor/src/clj/editor/model.clj
  editor/src/clj/editor/outline_view.clj
  editor/src/clj/editor/particlefx.clj
  editor/src/clj/editor/properties.clj
  editor/src/clj/editor/properties_view.clj
  editor/src/clj/editor/protobuf.clj
  editor/src/clj/editor/protobuf_types.clj
  editor/src/clj/editor/resource.clj
  editor/src/clj/editor/scene.clj
  editor/src/clj/editor/search_results_view.clj
  editor/src/clj/editor/settings.clj
  editor/src/clj/editor/tile_source.clj
  editor/src/clj/editor/ui.clj
  editor/src/clj/internal/transaction.clj
  editor/src/clj/util/coll.clj
  editor/src/clj/util/text_util.clj
  editor/src/dev/dev.clj
  editor/styling/stylesheets/components/_button.scss
  editor/styling/stylesheets/components/_color-picker.scss
  editor/styling/stylesheets/components/_fuzzy-combo-box.scss
  editor/styling/stylesheets/components/_menu-bar.scss
  editor/styling/stylesheets/components/_menu-button.scss
  editor/styling/stylesheets/components/_property.scss
  editor/styling/stylesheets/modules/_search-files.scss
  editor/test/editor/handler_test.clj
  editor/test/integration/collision_object_test.clj
  editor/test/integration/gui_clipping_test.clj
  editor/test/integration/override_transfer_test.clj
  editor/test/integration/property_type_preservation_test.clj
  editor/test/integration/script_properties_test.clj
  editor/test/integration/test_util.clj
  editor/test/internal/transaction_test.clj
  editor/test/internal/value_test.clj
  editor/test/support/test_support.clj
  editor/test/util/coll_test.clj
  editor/test/util/text_util_test.clj
Labels: feature request, editor

#10345 Make scene grid configurable
  editor/resources/scene/images/grid.svg
  editor/src/clj/editor/app_view.clj
  editor/src/clj/editor/colors.clj
  editor/src/clj/editor/curve_grid.clj
  editor/src/clj/editor/curve_view.clj
  editor/src/clj/editor/gl/pass.clj
  editor/src/clj/editor/grid.clj
  editor/src/clj/editor/keymap.clj
  editor/src/clj/editor/prefs.clj
  editor/src/clj/editor/properties_view.clj
  editor/src/clj/editor/scene.clj
  editor/src/clj/editor/scene_visibility.clj
  editor/src/clj/editor/tile_map.clj
  editor/src/clj/editor/tile_map_grid.clj
  editor/src/clj/editor/ui.clj
  editor/styling/stylesheets/modules/_scene-view.scss
Labels: editor
